<div class="row u-mb-8">
  <div class="columns small-12">
    <h2>Select additional options
        {{tool-tip
          title='Options are Droplet add-ons that can be configured easily on this page.'
          class='Hint'
          multiline=true
        }}
    </h2>

    {{droplet-options-chooser
      options=filteredFeatures
      onSelect='onSelectOption'
    }}

    {{#each features as |feature|}}
      {{#if (eq feature.id 'metadata')}}
        {{textarea 
            value=userData
            class="textarea-user-data is-sensitive"
            placeholder="Enter user data here..."
            focus-out="onBlurUserData"
        }}
      {{/if}}
    {{/each}}
  </div>
</div>
