<div class="row u-mb-7">
  <div class="columns small-12">
    <h2>Choose an image
        {{tool-tip 
            title='You can select an image based on a distribution or one-click app, or from an existing snapshot or backup.' 
            class='Hint'
            multiline=true
        }}
    </h2>
    
    {{partial 'droplet/partials/create/choose-image-tabs'}}
  </div>
</div>