<div class="billing-alert-settings row u-mb-5">
  <section class="Box">
    <h2 class="u-mb-3">Billing alerts</h2>
    <div class="row">
      {{#form-with-validation
        class='u-mb-0'
        isInlineForm=true
        onSubmit='saveBillingAlert'
        submitButtonText='Save'
        submitButtonWrapperClasses='small-2 columns'
        isShowingSubmitLoader=savingBillingAlert
        disabled=savingBillingAlert
        disabledSubmit=hasNotEditedBillingAlert
        disableFocusFirstEl=true
      }}
        <div class="small-8 columns u-pt-1">
          {{check-box inputId='billingAlertEnabled' checked=billingAlertEnabled label='Send me an email anytime my monthly usage has exceeded the amount listed to the right'}}
        </div>
        <div class="small-2 columns">
          <span class="prefix">
          </span>
          {{float-label-input
            required=true
            value=billingAlertDollarsAmount
            placeholder='Amount'
            pattern='\d{1,11}'
            error=integerErrorName
          }}
        </div>
      {{/form-with-validation}}
    </div>
  </section>
</div>
