<div class="Box" id="current-charges">
  <h2>
    Usage
    <div class="u-floatRight">${{formattedUsage}}</div>
  </h2>
  {{#if model.billingState.current_invoice_id}}
    {{#tool-tip title='View this month\'s usage details'}}
      {{#relative-link target="_blank" rel="noopener noreferrer" shortContextId=model.user.shortCurrentContextId href=(concat '/billing/' model.billingState.current_invoice_id '.pdf') class='Button Button--fullWidth u-mt-3'}}View Usage Details{{/relative-link}}
    {{/tool-tip}}
  {{else}}
    <p class="u-mt-6">There's been no usage yet this month.</p>
  {{/if}}
</div>
