<div class="row u-mb-5">
  <div class="small-12">
    <section class="Box billing-promo-box">
      <section>
        <h2>Promo code</h2>
        {{#if model.billingState.promo_code}}
          <p>
            The promo {{model.billingState.promo_code}} for {{format-currency model.billingState.promo_amount}} was applied to your account.
          </p>
        {{/if}}
        <div class="u-pt-2">
          {{#if model.user.isInTrialContext}}
            <p>
              To add a promo code, please first link a credit card or add PayPal credit.
            </p>
          {{else}}
            <p>
              If you have a promo code, please enter it below to receive your credit.
            </p>
            {{promo-form
              class="u-mb-0"
              onSubmit=(action "savePromoCode")
              promo=promo
              isInlineForm=true
              submitButtonWrapperClasses="small-2 columns"
              submitButtonText="Apply Code"
              class="u-mb-0"
              isShowingSubmitLoader=savingPromo
            }}
          {{/if}}
        </div>
      </section>
    </section>
  </div>
</div>
