<section class="u-mt-6 barriers-page u-textAlignCenter">
  <div class="Box u-mb-6 u-mt-4">
    <div class="row">
      <div class="small-12 columns">
        <img class="EmptyState-image" src="/assets/images/empty-notifications.svg" alt="Account Locked">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h3>Account Locked</h3>
        <p>This team account has been temporarily locked.</p>
        <p> A team owner will need to resolve this issue.</p>
      </div>
    </div>
  </div>
</section>
