<span class="beta-new-icon">NEW!</span>
<div class="small-12 columns u-textAlignCenter">
  <img class="u-mt-4 EmptyState-image u-mb-0" src="/assets/images/empty-storage-soon.svg" alt="Storage is not yet available in this region">
  <div class="row">
    <div class="small-10 columns small-centered u-mt-5">
      <h3>Block storage volumes aren't available here yet</h3>
      <p>Volumes are highly available units of block storage that you can attach to a Droplet to increase its space. Volumes are currently available in FRA1, NYC1, SFO2 and SGP1. We’re working on bringing them to more regions.</p>
    </div>
  </div>
</div>
