<span class="beta-new-icon">NEW!</span>
<div class="small-12 columns u-textAlignCenter">
  <div class="EmptyState Box">
    <img class="EmptyState-image" src="/assets/images/empty-storage.svg" alt="No volumes are attached to this Droplet">
    <div class="row">
      <div class="small-10 columns small-centered">
        <h3>Looks like you don't have any block storage volumes</h3>
        <p>Volumes are highly available units of block storage that you can attach to a Droplet to increase its space.</p>
        <button class="Button Button--blue attach-button u-mt-2 {{if isDisabled "is-disabled"}}" {{action "showAttachModal"}}>Add Volume</button>
      </div>
    </div>
  </div>
</div>
