<div class="Box u-mb-5 networking">
  {{partial "droplet/partials/public-network"}}
  <hr class="Divider--small" />
  {{partial "droplet/partials/private-network"}}
  <hr class="Divider--small" />
  {{partial "droplet/partials/public-ipv6-network"}}
  {{#if securityGroupsEnabled}}
    <hr class="Divider--small" />
    {{partial "droplet/partials/security-groups"}}
  {{/if}}
</div>
