<section class="Box u-mb-5">
  <div class="row u-mb-3">
    <div class="small-12 columns">
      <h2>Assign a floating IP</h2>
      <p class="u-mb-4">A floating IP is a static IP address that points to one of your Droplets. It allows you to redirect network traffic to any of your Droplets in the same datacenter. For instance, if your primary Droplet goes offline, you can point your floating IP to a backup Droplet. Floating IPs are tied to datacenters. To reserve a floating IP for a specific datacenter, {{#link-to "networking.floatingIp.datacenter"}}click here{{/link-to}}.</p>
    </div>
    {{partial "networking/partials/floating-ip-form"}}
  </div>
</section>