<div class="EmptyState Box">
  <img class="EmptyState-image" src="/assets/images/empty-dns.svg" alt="No DNS Records">
  <h3>{{t "domains.list.empty.title"}}</h3>
  <p>{{t "domains.list.empty.body"}}</p>
  <div class="row">
    <div class="small-11 small-centered columns">
      {{partial "networking/partials/domains-form"}}
    </div>
  </div>
</div>
