<div class="small-6 columns">
  {{auto-complete
    items=autoCompleteItems
    isSearching=autoCompleteIsSearching
    isShowingMore=autoCompleteIsShowingMore
    placeholder="Search for a Droplet"
    isRequired=true
    disabledItemIndicies=assignableDropletsDisabledModelIndices
    onShow="onUnselectDroplet"
    onSelect="onSelectDroplet"
    shouldResetForm=assignAutoCompleteReset
    selectedItem=assignedDroplet
  }}
</div>
<div class="small-6 columns">
  <button class="Button Button--blue Button--large Button--fullWidth assignFloatingIpButton" disabled="{{if (or isAssigningFloatingIp (not assignedDroplet)) 'disabled'}}" {{action "onAssignFloatingIpToDroplet"}}>
    Assign Floating IP
    {{#if isAssigningFloatingIp}}
      {{loading-spinner}}
    {{/if}}
  </button>
</div>