<div class="Alert Alert--blue u-mb-5">
  <div class="Alert-content">
    <p>To add more than {{resourceLimits.floatingIpLimit}} floating IPs to your account, you can submit a request ticket.</p>
    {{#link-to "networking.floatingIp.increase" class="Button Button--alert"}}Request an Increase{{/link-to}}
  </div>
</div>