<div class="EmptyState Box">
  <img class="EmptyState-image" src="/assets/images/empty-floating-ip.svg" alt="Empty floating ip">
  <h3>Looks like you have no floating IPs.</h3>
  <p class="u-mb-6">A floating IP is a static IP address that points to one of your Droplets. It allows you<br>to redirect network traffic to any of your Droplets in the same datacenter. {{#community-link slug="how-to-create-a-floating-ip-on-digitalocean"}}Learn more{{/community-link}}</p>

  <div class="row u-mb-4">
    {{partial "networking/partials/floating-ip-form"}}
  </div>
</div>
