<section class="u-mt-6 barriers-page u-textAlignCenter">
  <div class="Box u-mb-6 u-mt-4">
    <div class="row">
      <div class="small-12 columns">
        <img class="EmptyState-image" src="/assets/images/barrier.svg" alt="Account Deactivated">
      </div>
    </div>

    <div class="row">
      <h3>Account Deactivated</h3>
      <div class="small-12 columns">
        <p>Your account has been deactivated at your request.</p>
        <p>To reactivate please click below.</p>
        <form method="post" action="/account_reactivation">
          <input class="Button Button--fullWidth Button--blue u-mb-0 u-mt-3" type="submit" value="Reactivate my account">
          <input type="hidden" name="authenticity_token" value="{{csrfToken}}">
        </form>
      </div>
    </div>
  </div>
</section>
