<div class="row u-mt-1">
  <div class="small-12 columns">
    <section class="Box">
      <h2>Droplet Locked by DigitalOcean Staff</h2>
      <p>We are sorry to inform you that this Droplet has been locked by DigitalOcean Staff. All of your virtual servers are still active and there have been no changes. We have opened a support ticket with you regarding the cause of this lock.</p>

      <p>Please navigate to the {{#link-to 'support.tickets'}}support page{{/link-to}} to resolve the issue that has caused your Droplet to be locked.</p>

      <p class="u-mb-1 u-mt-6">
        <strong>Thank you,</strong>
      </p>

      <p>
        <strong>DigitalOcean Staff</strong>
      </p>
    </section>
  </div>
</div>