<section class="u-mt-6 barriers-page u-textAlignCenter">
  <div class="Box u-mb-6 u-mt-4">
    <div class="row">
      <div class="small-12 columns">
        <img class="EmptyState-image" src="/assets/images/barrier.svg" alt="Account on hold">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h3>{{if model.isOrganizationContext 'Team'}} Account on hold</h3>
        <p>Your {{if model.isOrganizationContext 'team'}} account has been placed on hold due to an overdue balance.  {{#relative-link shortContextId=model.shortCurrentContextId href='/settings/billing'}}Pay your balance{{/relative-link}} now to continue using DigitalOcean.</p>

      </div>
    </div>
  </div>
</section>
