<div class="row">
  {{outlet}}
</div>

{{#if thresholdBeingDeleted}}
  {{#modal-window
    title="Delete monitor"
    saveText="Delete"
    showCancel=true
    contentClasses=""
    size="small"
    onHide="confirmDelete"
    saveClasses="Button--red Button--outline"
  }}
    <p>
      Would you like to delete monitor
      <strong>{{thresholdBeingDeleted.description}}</strong>
      on Droplet <strong>{{thresholdBeingDeleted.droplets.firstObject.name}}?</strong>
    </p>
  {{/modal-window}}
{{/if}}

{{feedback-form}}
