{{#unless (and model.isSuspended (is-current-path 'settings/billing' currentLocationPath))}}
  <div class="small-2 columns js-side-nav-wrapper">
    {{partial "settings/partials/side-bar"}}
  </div>
{{/unless}}
