<section class="u-mt-6 barriers-page u-textAlignCenter">
  <div class="Box u-mb-6 u-mt-4">
    <div class="row">
      <div class="small-12 columns">
        <img class="EmptyState-image" src="/assets/images/barrier.svg" alt="Account Suspended">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h3>Account Suspended</h3>
        <p>Your account has been suspended due to an overdue balance.
        Please pay the past due balance of ${{paymentBalance}} to restore service.</p>
        {{#relative-link shortContextId=model.shortCurrentContextId href='/settings/billing' class="Button Button--fullWidth Button--blue u-mb-0 u-mt-3"}}Pay Your Account{{/relative-link}}
      </div>
    </div>
  </div>
</section>
