<div class="row">
  <div class="small-12 columns">
    <div class="EmptyState Box">
      <img class="EmptyState-image" src="/assets/images/empty-images.svg" alt="Empty images">
      <h3>Looks like there are no members yet.</h3>

    </div>
  </div>
</div>
