.u-ib {
  display: inline-block;
  width: auto;
}

.u-va-m {
  vertical-align: middle;
}

.u-nw {
  white-space: nowrap;
}

.u-grey {
  color: $gray7;
}

.u-lightgrey {
  color: $gray5;
}

.u-circle {
  color: $gray3;
  border: 1px solid $gray3;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;

  .icon {
    position: relative;

    .cloud-container & {
      top: 1px;
    }
  }
}

.u-code-block {
  background: $gray1;
  padding: 13px;
  color: $gray8;
  width: 100%;
  font-size: 0.85rem;
  display: inline-table;
  position: relative;
  word-wrap: nowrap;
  overflow: auto;
  font-family: monospace, serif;
  margin: 0.8rem 0;
  border: 1px solid $gray4;
  border-radius: $table-border-radius;
}

.u-code-blue {
  color: $blue--brand;
}

.u-code-green {
  color: $green--brand;
}

.u-uppercase {
  text-transform: uppercase;
}

.radio-tab {
  @extend %font--bold;

  border: 1px solid $gray4;
  padding: 17px 17px 17px 63px;
  position: relative;
  cursor: pointer;
  text-align: left;
  border-radius: 3px;

  > span {
    @extend %font--regular;

    display: block;
    font-size: 15px;
    color: $gray8;
  }

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    top: 50%;
    margin-top: -11px;
    left: 20px;
  }

  &::before {
    content: '';
    border: 1px solid $gray4;
  }

  &.selected {
    border-color: $blue--brand;
    cursor: default;

    &::before {
      border-color: $blue--brand;
    }

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      margin-top: -4px;
      left: 27px;
      background: $blue--brand;
    }
  }
}
