<section class="row u-mb-3 firewalls-header">
  {{resource-item
    item=model
    hideStatus=true
    wide=true
    showExtendedMeta=true
  }}
</section>

<section class="row u-mb-3">
  <ul class="Tabs" role="tablist">
    <li role="presentation" class="is-active">
      <a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a>
    </li>
    <li role="presentation">
      <a href="#droplets" aria-controls="droplets" role="tab" data-toggle="tab">Droplets</a>
    </li>
  </ul>

  <div class="Tabs-content">
    <div role="tabpanel" class="Tabs-pane is-active" id="rules">
      {{partial "networking/security-groups/partials/rules"}}
    </div>

    <div role="tabpanel" class="Tabs-pane" id="droplets">
      {{partial "networking/security-groups/partials/droplets"}}
    </div>
  </div>
</section>
