<div class="row u-mb-7">
  <div class="columns small-12">
    <h2>Choose a datacenter region</h2>
    
    {{droplet-region-chooser
      regions=filteredRegions
      onSelect='onSelectRegion'
    }}
  </div>
</div>