<div class="Alert Alert--failure">
  <div class="Alert-content">
    <p>We encountered an error while loading this ticket.</p>
    <a role="button" {{action "retryCurrentRoute"}} class="Button Button-alert">Try Again</a>
  </div>
</div>
