{{#if revokeApp}}
  {{#modal-window title="Revoke application" contentClasses="confirm-small" size="small" saveText="Revoke Application" saveClasses="Button--red" onHide="onModalHide"}}
    <p class="u-grey">Are you sure you want to revoke access from this application?</p>
  {{/modal-window}}
{{/if}}

<div class="columns small-12}}">
  <div class="Box">
    <div class="api-section row">
      <div class="columns small-12 u-mb-3">
        <div class="headline-group u-clearfix">
           <h2>Authorized applications</h2>
           <p>You have granted the following applications access to your account.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        {{#unless apps.length}}
          <div class="EmptyState--simple u-clearfix">
            <p>You have no applications registered to your account.</p>
          </div>
        {{else}}
          {{api-access-table apps=apps revoke='revoke' isReadOnly=isReadOnly}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>

<div class="columns small-12 u-mt-4">
  <div class="Box">
    <div class="api-section row">
      <div class="columns small-12 u-mb-3">
        <div class="headline-group u-clearfix">
          <h2>DigitalOcean applications</h2>
          <p>These are applications developed and owned by DigitalOcean. They have full access to your DigitalOcean account.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        {{#unless internalApps.length}}
          <div class="EmptyState--simple u-clearfix">
            <p>You have no DigitalOcean applications authorized to access your account.</p>
          </div>
        {{else}}
          {{api-access-table apps=internalApps revoke='revoke' isReadOnly=isReadOnly}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>
