.oauth-authorize {
  .row {
    .small-6.columns {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .EmptyState-image {
    margin-bottom: 0;
  }
}
