.settings-team-invite {
  .Modal-header {
    padding: 0;

    .Icon--close {
      z-index: 1000;
    }
  }

  .Modal-body {
    position: relative;
    padding: 1rem 2rem 2rem;

    h2 {
      @extend %font--bold;

      text-align: left;
      font-size: 20px;
    }

    p {
      text-align: left;
    }
  }

  .invitation-form {
    .small-8 {
      width: auto;
    }
  }
}
