<div class="small-12 columns">
  <div class="row">
    <section class="Box u-mb-5">
      <h2>E-mail subscriptions</h2>
      <p class="u-mb-3">By subscribing to our email newsletter, you will be opting to receive updates about new feature releases, discounts and promotional codes, security updates, and more.</p>
      <p class="u-mb-3">If you're not interested in receiving this content, please uncheck the box below to unsubscribe.</p>

      {{check-box inputId="subscribe" checked=model.newsletterSubscribed disabled=isSaving label="Subscribe to newsletters"}}
      {{#if isSaving}}
        {{loading-spinner}}
      {{/if}}
    </section>
  </div>
</div>