{{#each backups as |backup|}}
  {{#unless backup.isConvertingBackupToSnapshot}}
    <div class="backups-drawer__name">
      {{resource-item item=backup noRegion=true}}
    </div>
    {{#unless isReadOnly}}
      <div class="backups-drawer__action">
        {{backups-dropdown-menu
          title="More"
          imageId=backup.id
          disabled=disabled
          restoreBackupAction="restore"
          createFromBackupAction="createFrom"
          convertToSnapshotAction="convertToSnapshot"
          onOpening="openingDropdown"
          onClose="closingDropdown"
          isReadOnly=isReadOnly
        }}
      </div>
    {{/unless}}
  {{/unless}}
{{/each}}
