<div class="statusIndicator {{status}} {{if isLoading 'Loader--basic Loader--blue'}} {{if showBg 'hasBg'}}">
  {{droplet.displayStatus}}
</div>

{{#if showBg}}
  <div class="status-spinner-bg"></div>
{{/if}}
