<ul class="email-invites-list">
  {{#each invites as |invite index|}}
    {{token-item
      text=invite.email
      isValid=invite.isValid
      clickToken="clickToken"
      blurToken="blurToken"
      focusToken="focusToken"
      removeToken="removeToken"
      index=index
      hasX=false
    }}
  {{/each}}
  {{token-input
    placeholder="Type or paste email addresses here"
    addToken="addToken"
    removePreviousToken="removePreviousToken"
    type="email"
  }}
</ul>
{{#unless isUnlimited}}
  <span class="email-invites-max-message small">You have {{pluralize-word limit "invites" omitCount=false}} remaining today.</span>
{{/unless}}
