{{#if newsItem}}
  {{#modal-window title=newsItem.subject size="medium" saveText="Awesome!" showCancel=false onHide="onModalHide"}}
    <h2 class="news-modal-title">{{newsItem.subject}}</h2>
    <div class="news-modal-content">{{{newsItem.formattedBodyTopImage}}}</div>
  {{/modal-window}}
{{/if}}