{{#modal-window
  title=(concat "Move " movingObjs.length " item" (if (gt movingObjs.length 1) "s") " to folder")
  showSaveButton=true
  showCancelButton=true
  size="large"
  contentClasses="object-move-modal"
  onHide="onConfirmMoveModalHide"
  saveClasses=(unless selectedRow "Button--blue is-disabled" "Button--blue")
  saveText="Move"
}}
<div>
	{{#if movingDirsLoading}}
		<div class="loading-wrapper">
			{{loading-animation}}
		</div>
	{{else}}
    <div class="table-wrapper">
      <table>
        <tbody>
          <tr>
            <td class="name">
              <div class="object-move-dir">
                <div class="Resource-image">
                  <div class="resource-icon bucket"></div>
                </div>
                <div class="objectMove-dir-name">
                  {{bucketName}}
                </div>
              </div>
            </td>
          </tr>
          {{#each filteredDirsTree as |dir|}}
          	{{object-move-table-row
          		dir=dir
          		depth=1
              currentDir=currentDir
              movingObjs=movingObjs
          		classNames="objectMove--subDir"
              onToggleSelectFolder="onToggleSelectFolder"
          		onToggleDirTree="onToggleDirTree"
            }}
          {{/each}}
        </tbody>
      </table>
    </div>
	{{/if}}
</div>

{{/modal-window}}
