{{#form-with-validation
  class=class
  onSubmit=onSubmit
  submitButtonText=submitButtonText
  isInlineForm=isInlineForm
  submitButtonWrapperClasses=submitButtonWrapperClasses
  isShowingSubmitLoader=isShowingSubmitLoader
  disabled=isShowingSubmitLoader
  disableFocusFirstEl=true
}}
  <div class="billing-promo-code {{if isInlineForm 'small-10 u-pr-2' 'row u-mt-2'}}">
    {{float-label-input validateInput=validatePromo error="Promo code cannot be blank" required=true value=promo placeholder="Promo Code"}}
  </div>
{{/form-with-validation}}
