<div class="error-page">
  <div class="oops-copy">
    <h1>Looks like something went wrong...</h1>
    <p class="sub-copy">If this keeps happening, check out <a href="https://status.digitalocean.com/">status.digitalocean.com</a>.</p>
  </div>
  <img class="sammy" src="/assets/images/sammy-error.gif" alt="">
</div>
