<div class="row">
  <h2 class="columns small-6">{{title}}</h2>
  {{#if refreshing}}
    <div class="Loader--basic columns small-6 u-mr-4"></div>
  {{/if}}
</div>
<div class="aurora-droplet-graph c3 loaded {{if isEmpty 'c3-empty'}}">
</div>
