<div class="transition-context-avatars">
  <h2 class="transition-context-title">Switching Accounts</h2>
  <div class="transition-context-avatar transition-context-left-avatar">
    {{avatar-image
      isTeam=leftAvatarIsTeam
      color=leftAvatarColor
      initials=leftAvatarInitials
      src=leftAvatarSrc
    }}
  </div>
  <div class="transition-context-arrow Icon--arrowLongRight"></div>
  <div class="transition-context-avatar transition-context-right-avatar">
    {{avatar-image
      isTeam=rightAvatarIsTeam
      color=rightAvatarColor
      initials=rightAvatarInitials
      src=rightAvatarSrc
    }}
  </div>
</div>