{{#if hasNoDropletsOrTags}}
  <section class="Box EmptyState firewalls-empty-state u-mt-5">
    <img class="EmptyState-image"
         src="/assets/images/empty-state-droplet.svg"
         alt="No Firewall Droplets" />
    <h3>Choose Droplets</h3>
    <p>
      Firewalls are a way to secure your droplets. Use them if you're concerned
      about security.
    </p>
    {{security-groups/add-droplets
      existingTargets=existingTargets
      searchResults=targetSearchResults
      hasMaxDropletsOrTags=hasMaxDropletsOrTags
      hasMaxDropletsAndTags=hasMaxDropletsAndTags
      targetsMessage=targetsMessage
      dropletsAndTags=dropletsAndTags
      queryTargets=(action "queryTargets")
      onAddTargets=(action "addTargets")
    }}
  </section>
{{else}}
  <section class="row u-mt-5">
    <div class="small-3 small-offset-9 columns">
      <div class="u-textAlignRight">
        {{security-groups/add-droplets
          existingTargets=existingTargets
          searchResults=targetSearchResults
          hasMaxDropletsOrTags=hasMaxDropletsOrTags
          hasMaxDropletsAndTags=hasMaxDropletsAndTags
          targetsMessage=targetsMessage
          dropletsAndTags=dropletsAndTags
          queryTargets=(action "queryTargets")
          onAddTargets=(action "addTargets")
        }}
      </div>
    </div>
  </section>
  {{security-groups/list-droplets
    targets=model.targets
    tags=model.tags
    dropletMenuItemClick=(action "dropletMenuItemClick")
    tagMenuItemClick=(action "tagMenuItemClick")
  }}
{{/if}}
