$droplet_create_distro_list: ubuntu fedora centos debian coreos freebsd;
$droplet_create_distro_sprite_list: $icon-ubuntu-gray $icon-fedora-gray $icon-centos-gray $icon-debian-gray $icon-coreos-gray $icon-freebsd-gray;
$droplet_create_distro_active_sprite_list: $icon-ubuntu-blue $icon-fedora-blue $icon-centos-blue $icon-debian-blue $icon-coreos-blue $icon-freebsd-blue;

.distro {
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $gray6;
  border: 1px solid $gray4;
  box-sizing: border-box;

  &:nth-child(4n) {
    margin-right: 0;
  }

  .distro-name {
    font-size: 16px;
    display: block;
    margin: 4px 0 10px;
  }

  .distro-dropdown-trigger {
    padding: 10px;
  }

  .distro-version {
    text-align: center;
    border-top: 1px solid $gray4;
    display: block;
    cursor: pointer;
    font-size: 13px;
    outline: none;

    &.open {
      border-color: $gray5;

      &::after {
        content: '';
        display: block;
        height: 15px;
        position: absolute;
        width: 100%;
      }

      .Dropdown-content {
        border-color: $gray5;

        &::before {
          border-bottom-color: $gray5;
        }
      }

      .distro-dropdown-trigger {
        background-color: $gray2;
      }
    }

    .version-name {
      @extend %font--semibold;

      margin-right: 8px;
      width: calc(100% - 30px);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .distro-select {
      position: relative;
      top: 1px;

      .Icon--arrowDown {
        font-size: 11px;
      }
    }

    .distro-dropdown-trigger {
      background: $white;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;

      &:hover {
        background-color: $gray2;
      }
    }
  }

  .distro-button {
    width: 100%;
    outline: none;

    &:hover,
    &:focus {
      background-color: $gray2;
    }

    &:focus {
      box-shadow: 0 0 1px $gray5;
    }

    .icon {
      height: 54px;
      width: 54px;
      margin: 10px auto 0;
    }

    @each $distro in $droplet_create_distro_list {
      &.#{$distro} {
        .icon {
          @include icon-sprite(nth($droplet_create_distro_sprite_list, index($droplet_create_distro_list, $distro)));
          @include transform(scale(0.8, 0.8));
        }
      }
    }
  }

  &:hover {
    border-color: $gray5;

    .distro-version {
      border-color: $gray5;
    }
  }

  &.open {
    border-color: $gray5;
  }

  &.selected {
    border-color: $blue--brand;

    .distro-button {
      background-color: $blue--light-1;
      color: $blue--brand;
    }

    &:hover {
      .distro-button {
        background-color: $blue--light-1;
      }
    }

    .distro-version {
      border-top: 1px solid $blue--brand;
      color: $blue--brand;

      &.open {
        .distro-dropdown-trigger {
          background-color: $blue--light-1;
        }
      }
    }

    .distro-dropdown-trigger:hover {
      background-color: $blue--light-1;
    }

    .distro-button {
      @each $distro in $droplet_create_distro_list {
        &.#{$distro} {
          .icon {
            border-color: $gray4;

            @include icon-sprite(nth($droplet_create_distro_active_sprite_list, index($droplet_create_distro_list, $distro)));
          }
        }
      }
    }
  }

  .distro-version.open .Dropdown-content {
    pointer-events: auto;
    opacity: 0.999;
    transform: translate3d(0, 0, 0);
  }

  .Dropdown-content {
    right: 0;
    min-width: 150px;
    max-height: 300px;
    border: 1px solid $gray4;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0.001;
    transform: translate3d(0, -10px, 0) scale(0.98);
    -webkit-backface-visibility: hidden;
    pointer-events: none;

    /* align arrow with down arrow from distro-select */
    &::before {
      right: 13px;
      top: -10px;
    }

    &::after {
      right: 13px;
      top: -9px;
      border-left-width: 10px;
      border-right-width: 10px;
      border-bottom-width: 10px;
    }
  }

  > .Button {
    color: $gray6;
    outline: none;
  }

  .Dropdown-option {
    .distro-image-name {
      color: $black;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      max-width: calc(100% - 15px);
      text-overflow: ellipsis;
      position: relative;
      top: 3px;
    }

    a {
      padding-left: 10px;
      padding-right: 10px;
    }

    .selected {
      background-color: $gray2;

      .distro-image-name {
        color: $gray8;
      }
    }

    &:hover {
      background-color: $gray2;
    }
  }
}
