.image-button {
  @include user-select(none);

  cursor: pointer;
  padding: 0 20px 0 50px;
  position: relative;
  width: 100%;
  border-radius: 3px;
  height: 50px;
  border: 1px solid $gray3;
  text-align: left;
  outline: none;

  &:hover,
  &:focus {
    border-color: $gray5;
  }

  &.admin {
    padding: 0 20px 0 50px;
  }

  &.selected {
    background-color: $blue--light-1;
    border-color: $blue--brand;
    color: $blue--brand;
  }

  > .icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 7px;
    left: 10px;
    overflow: hidden;

    @include icon-sprite($icon-default);
  }

  .inner-align {
    line-height: 48px;
    height: 48px;
  }

  &[class^='ruby-rails-'] .icon,
  &[class*='ruby-rails-'] .icon {
    @include icon-sprite($icon-ruby);
  }

  &.redmine .icon {
    @include icon-sprite($icon-redmine);
  }

  &.wordpress .icon {
    @include icon-sprite($icon-wordpress);
  }

  &.snapshot .icon,
  &.backup .icon {
    @include icon-sprite($icon-droplet-snapshot);
  }

  &.magento .icon {
    @include icon-sprite($icon-magento);
  }

  &.node .icon {
    @include icon-sprite($icon-nodejs);
  }

  &.django .icon {
    @include icon-sprite($icon-django);
  }

  &.lamp .icon {
    @include icon-sprite($icon-lamp);
  }

  &.lemp .icon {
    @include icon-sprite($icon-lemp);
  }

  &.mean .icon {
    @include icon-sprite($icon-mean);
  }

  &.dokku .icon,
  &.dokku-docker .icon {
    @include icon-sprite($icon-dokku);
  }

  &.ghost .icon {
    @include icon-sprite($icon-ghost);
  }

  &.docker .icon {
    @include icon-sprite($icon-docker);
  }

  &.gitlab .icon {
    @include icon-sprite($icon-gitlab);
  }

  &.drupal .icon {
    @include icon-sprite($icon-drupal);
  }

  &.owncloud .icon {
    @include icon-sprite($icon-owncloud);
  }

  &.elk-logging-stack .icon {
    @include icon-sprite($icon-elk);
  }

  &.drone .icon {
    @include icon-sprite($icon-drone);
  }

  &.mediawiki .icon {
    @include icon-sprite($icon-mediawiki);
  }

  &.mongodb .icon {
    @include icon-sprite($icon-mongodb);
  }

  &.phpmyadmin .icon {
    @include icon-sprite($icon-phpmyadmin);
  }

  &.joomla .icon {
    @include icon-sprite($icon-joomla);
  }

  &.mumble-server-murmur .icon {
    @include icon-sprite($icon-mumble-server-murmur);
  }

  &.cassandra .icon {
    @include icon-sprite($icon-cassandra);
  }

  &.redis .icon {
    @include icon-sprite($icon-redis);
  }

  &.discourse .icon {
    @include icon-sprite($icon-discourse);
  }

  &.horizon-rethinkdb .icon {
    @include icon-sprite($icon-horizon-rethinkdb);
  }
}
