<div class="row form__takeSnapshot">
  {{#if hasDroplets}}
    {{#form-with-validation
      onSubmit="onSubmitEnableBackups"
      resetOnSubmit=true
      submitButtonText="Enable Backups"
      isInlineForm=true
      spinnerClasses="spinner-backups"
      isShowingSubmitLoader=isEnablingBackups
      submitButtonWrapperClasses="small-3 columns"
      disableFocusFirstEl=true
    }}
      <div class="small-9 columns">
        {{auto-complete
          items=autoCompleteItems
          isSearching=autoCompleteIsSearching
          isShowingMore=autoCompleteIsShowingMore
          placeholder="Choose a Droplet"
          isRequired=true
          disabledItemIndicies=dropletsDisabledModelIndices
          onSelect="onSelectDroplet"
          onShow="onUnselectDroplet"
        }}
      </div>
    {{/form-with-validation}}
  {{else}}
    <p>Looks like you don't have any Droplets, you'll need to create one of those first.</p>
    {{#link-to 'droplet_create' class="Button Button--blue"}}Create Droplet{{/link-to}}
  {{/if}}
</div>
