<div class="row form__takeSnapshot">
  {{#form-with-validation
    onSubmit="onSubmitCreateImage"
    resetOnSubmit=true
    submitButtonText="Take Snapshot"
    isInlineForm=true
    submitButtonWrapperClasses="small-2 columns"
    disableFocusFirstEl=true
  }}
    <div class="small-5 columns">
      {{auto-complete items=autoCompleteItems isSearching=autoCompleteIsSearching isShowingMore=autoCompleteIsShowingMore placeholder=autoCompletePlaceholder isRequired=true disabledItemIndicies=dropletsDisabledModelIndices onShow="onUnselectDroplet" onSelect="onSelectDroplet"}}
    </div>

    <div class="small-5 columns">
      {{float-label-input type="text" klasses="snapshotName" value=createImageName required=true placeholder="Enter image name" onInput="onInputUpdateImageName"}}
    </div>
  {{/form-with-validation}}
</div>
