{{#if restoreImage}}
  {{#modal-window title="Restore Droplet" contentClasses="confirm-small" size="small" saveText="Restore Droplet" onHide="onRestoreModalHide"}}
    <p>Are you sure you want to restore <strong>{{restoreDroplet.name}}</strong> from <strong>{{restoreImage.name}}</strong>?</p>
    <p class="u-grey">Note: <strong>Restoring will replace the current Droplet with an older image.</strong></p>
  {{/modal-window}}
{{/if}}
