<h2 class="u-mt-1 u-mb-1">Destroy this space</h2>
<p>
  This is irreversible. We will destroy your Space and all associated objects. All space data will be scrubbed and irretrievable.
</p>
<button {{action 'showDestroyModal'}} class="Button Button--outline Button--red u-mt-3 u-pl-9 u-pr-9 {{if isDeleting "is-disabled"}}">Destroy</button>
{{#if isDeleting}}
  {{loading-spinner plain=true spinnerClass="destroy-spinner"}}
{{/if}}
{{#if showDestroyModal}}
  {{#modal-window
    title="Destroy Space"
    showSaveButton=true
    saveText="Confirm"
    saveClasses="Button--red"
    showCancelButton=true
    cancelText="Cancel"
    size="small"
    contentClasses="confirm-small"
    onHide="onDestroyModalHide"
  }}
    <p>Are you sure you would like to permanently delete {{model.name}}?</p>
  {{/modal-window}}
{{/if}}
