<div class="load-balancers-show row">
  <div class="lb-breadcrumb u-mb-5">
    {{#link-to "networking.loadBalancers" class="lb-breadcrumb-link"}}
      <span class="lb-breadcrumb-icon Icon--arrowLongLeft"></span>Load Balancers
    {{/link-to}}
  </div>

  <div class="load-balancer-header u-mb-5">
    {{#if isEditing}}
      {{editable-resource-item
        item=model
        hideStatus=true
        showExtendedMeta=true
        wide=true
        validPattern="^[a-zA-Z0-9]?[a-z0-9A-Z\.\-]*[a-z0-9A-Z\.]$"
        maxlength=255
        submitEdit="renameLoadBalancer"
        cancelEdit="undoRenameLoadBalancer"
      }}
    {{else}}
      {{resource-item
        item=model
        hideStatus=true
        wide=true
        showExtendedMeta=true
        showSaving=isRenaming
        savingToolTip="Renaming Load Balancer"
        onTitleClick=(action "editLoadBalancerName")
        isEditable=isEditable
      }}
    {{/if}}
  </div>

  <div class="row">
    <div class="columns small-12">
      <ul class="Tabs u-mb-4 droplet-tabs" role="tablist">
        {{#link-to "networking.loadBalancers.show.droplets" tagName="li" activeClass="is-active"}}<a>Droplets</a>{{/link-to}}
        {{#link-to "networking.loadBalancers.show.graphs" tagName="li" activeClass="is-active"}}<a>Graphs</a>{{/link-to}}
        {{#link-to "networking.loadBalancers.show.settings" tagName="li" activeClass="is-active"}}<a>Settings</a>{{/link-to}}
      </ul>
    </div>

    {{#if isCreating}}
      <div class="columns small-12 u-mb-5">
        <div class="Alert Alert--neutralGrey">
          <div class="Alert-content">Editing is currently disabled while this Load Balancer is being created.</div>
        </div>
      </div>
    {{/if}}

    {{#if isError}}
      <div class="columns small-12 u-mb-5">
        <div class="Alert Alert--failure">
          <div class="Alert-content">We encountered a problem with your Load Balancer. Please contact support.</div>
        </div>
      </div>
    {{/if}}

    <div class="columns small-12 load-balancer-page">
      {{outlet}}
    </div>
  </div>
</div>
