.copy-referral-url {
  height: 3rem;
  padding: 0.85rem;
  width: 100%;
  display: inline-block;
  font-size: 1rem;
  color: $gray9;
  border-radius: 3px;
  line-height: normal;
  border: 1px solid $gray4;
  position: relative;
}

.referrals-stats-table {
  table-layout: auto;
}

.referrals {
  .button-switch-to-credits {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .spinner-payout {
    position: absolute;
    top: 12px;
    right: 20px;
  }
}

.referrals-modal {
  padding-top: 0;
}
