#content {
  .settings-security-keys {
    .ssh-keys-table {
      .name {
        width: 35%;
      }

      .fingerprint {
        width: 60%;
      }

      .action {
        float: right;
      }

      .menu-dropdownItems {
        li {
          min-width: 50px;
        }
      }
    }
  }
}

.settings-security-certificates {
  .certificate-name {
    width: 33%;
  }

  .certificate-fingerprint {
    width: 50%;
  }
}

.Modal-header {
  h2 {
    word-break: normal;
  }
}

.tfa-backup {
  .modal-title {
    line-height: 34px;
  }

  .Icon--title {
    float: left;
    margin-right: 0.4rem;
    margin-top: -13px;
  }

  .modal-subtitle {
    margin-bottom: 0.5rem;
  }
}

.intl-tel-input {
  width: 100%;
  height: 3rem;

  .flag_container,
  input[type='tel'] {
    height: 100%;
  }

  input[type='tel'] {
    width: 100%;
  }
}
