<div class="row">
  <div class="small-8 small-centered columns team-creation-wrapper">
    {{team-creation
      step=step
      stepNames=stepNames
      onSubmit="onSubmit"
      onValidateSlug="onValidateSlug"
      isSlugValid=isSlugValid
      invalidSlugs=invalidSlugs
      creditCards=creditCards
      fetchCreditCards="fetchCreditCards"
      creditBalance=creditBalance
      minCredits=minCredits
      authenticateGmail="authenticateGmail"
      isGmailAuthenticated=isGmailAuthenticated
      navigateToTeamsPage="navigateToTeamsPage"
      onErrorFetchingSocialAccountData="onErrorFetchingSocialAccountData"
      onErrorFetchingGmailContacts="onErrorFetchingGmailContacts"
      orgName=orgName
      orgSlug=orgSlug
      orgEmail=orgEmail
      orgTransfer=orgTransfer
      selectedCreditCard=selectedCreditCard
      credits=credits
      creditCustomValue=creditCustomValue
      billingTab=billingTab
      selectedCreditOption=selectedCreditOption
      gmailInvites=gmailInvites
      emailInvites=emailInvites
      isLoadingCreditCards=isLoadingCreditCards
      isSubmitting=isSubmitting
      auroraSlugRoutes=auroraSlugRoutes
      isFree=isFree
      showCCForm=showCCForm
      billingService=billingService
      countries=model.countries
      onStripeSuccess=(action 'onStripeSuccess')
      savingCreditCard=savingCreditCard
      paypalLoading=paypalLoading
      userId=model.user.internalIdentifier
      onPaypalSubmit="onPaypalSubmit"
      bankAccount=model.bankAccount
    }}
  </div>
</div>
