<div class="row">
  <div class="columns small-12">
    <div class="small-centered EmptyState Box u-pa-8">
      <div class="row">
        <div class="EmptyState-image EmptyState-image--monitoring"></div>
        <div class="columns small-12 u-textAlignCenter">
          <h3>Looks like you don't have any monitors</h3>
          <p class="u-mb-0">Monitors watch your Droplets and alert you via Slack if there are any issues.</p>
          <div class="u-mt-3">
            {{#link-to newMonitorLink class="Button Button--blue monitors-create-button empty-state-button"}}
              Create Monitor
              {{#if addEditLoading}}
                <div class="Loader--basic white u-ml-4"></div>
              {{/if}}
            {{/link-to}}
          </div>
          <div class="columns small-8 small-centered u-mt-9">
            <p class="u-mb-2">This service requires an agent on each Droplet you wish to monitor. If you did not enable monitoring when creating your Droplet, run this command to manually install the agent:</p>
            <div><pre class="u-mb-0">curl -sSL https://agent.digitalocean.com/install.sh | sh</pre></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
