<div class="Alert Alert--failure">
  <div class="Alert-content">
    <p>We encountered an error while loading your tickets.</p>
    <a {{action "retryCurrentRoute"}} class="Button Button-alert" role="button">Try Again</a>
  </div>
</div>
