<div class="row">
  <div class="columns small-12">
    <div class="small-centered EmptyState Box u-pa-8">
      <div class="row">
        <div class="EmptyState-image EmptyState-image--monitoring"></div>
        <div class="columns small-12 u-textAlignCenter">
          <h3>Check back soon, we're loading new metrics</h3>
          <div class="columns small-8 small-centered u-mt-3">
            <p class="u-mb-2">While you're waiting,
              {{#community-link slug="how-to-track-droplet-performance-with-digitalocean-droplet-graphs"}}learn how to use these new metrics{{/community-link}} to monitor your Droplet's health.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>