<div class="Box u-mb-5">
  <h2>Power On</h2>
  <p>Your Droplet is currently powered down. This action will boot your Droplet.</p>
  <p>Do you want to proceed?</p>
  <div class="row">
    <div class="columns small-4">
      <button 
        class="Button Button--fullWidth"
        disabled="{{if (or isCyclingPower dropletCtrl.isTogglingPower dropletCtrl.isBusy) 'disabled'}}"
        {{action "powerUpDroplet"}}
      >Power On
        {{#if dropletCtrl.isTogglingPower}}
          {{loading-spinner white=true spinnerClass="spinner-power"}}
        {{/if}}
      </button>
    </div>
  </div>
</div>