<h2>Public network</h2>
<ul class="pub-net small-block-grid-3">
  <li>
    <h4>IP Address:</h4>
    <span>
      {{ip-address text=dropletCtrl.model.ipAddress}}
    </span>
  </li>
  <li>
    <h4>Gateway:</h4>
    <span>
      {{ip-address text=dropletCtrl.model.publicIpv4Gateway}}
    </span>
  </li>
  <li>
    <h4>Netmask:</h4>
    <span>
      {{ip-address text=dropletCtrl.model.publicIpv4Netmask}}
    </span>
  </li>
</ul>
