<div class="Box u-mb-5">
  <h2>Recovery</h2>
  {{#if (not model.isPoweredOn)}}
    <p>Boot your Droplet using a recovery kernel.</p>
    <p>This allows you to boot your kernel into a recovery safe mode so that you can perform actions such as fsck the hardvolume if it is in a dirty state.</p>

    <p>We also have a community article that explains the process that we recommend 
      {{#community-link 
        slug="how-to-recover-from-file-system-corruption-using-fsck-and-a-recovery-iso"
      }}reading{{/community-link}}.</p>
  {{/if}}

  <p>Please power off your Droplet first to enter into recovery mode.</p>

  {{#if (not model.isPoweredOn)}}
    <div class="row">
      <div class="columns small-4">
        <button
          class="Button Button--fullWidth"
          disabled="{{if (or isChangingKernel dropletCtrl.isBusy) 'disabled'}}"
          {{action "mountRecoveryKernel"}}
        >Mount Recovery Kernel
          {{#if (or isChangingKernel dropletCtrl.model.changeKernelEvent)}}
            {{loading-spinner plain=true spinnerClass="spinner-kernel spinner-kernel-mount"}}
          {{/if}}
        </button>
      </div>
    </div>
  {{/if}}
</div>