<div class="Box">
  <h2>Reset root password</h2>
  {{#if model.image.allowsPasswordReset}}
    <p>This will shut down your Droplet and a new root password will be set and emailed to you.</p>
    <p>Do you wish to proceed?</p>
    <div class="row is-sensitive">
      <div class="columns small-4">
        <button
          class="Button Button--fullWidth"
          disabled="{{if (or isResettingPassword dropletCtrl.isBusy) 'disabled'}}"
          {{action 'resetRootPassword'}}
        >Reset Root Password
          {{#if (or isResettingPassword dropletCtrl.model.passwordResetEvent)}}
            {{loading-spinner plain=true spinnerClass="access-spinner access-spinner--reset-password"}}
          {{/if}}
        </button>
      </div>
    </div>
  {{else}}
    <p>This Droplet's root password is managed internally and cannot be changed from the control panel. Please SSH into the Droplet to manage it.</p>
  {{/if}}
</div>
