<div class="Box">
  <section class="row">
    <div class="small-12 columns">
      <h2>PTR records</h2>
      {{#if model}}
        {{partial "networking/partials/ptr-table"}}
      {{else}}
        {{partial "networking/partials/ptr-empty"}}
      {{/if}}
    </div>
  </section>
</div>