.domains--list {
  .Resource {
    &.hideIcon .Resource-meta {
      padding: 0;
    }

    &[data-type='domain'] .Resource-title a {
      @extend %font--regular;

      color: $blue--brand;

      &:hover {
        color: $blue--brand_hover;
      }
    }
  }

  .menu-dropdown .dropdown-view {
    text-align: left;
  }
}

.breadcrumbs {
  * {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $gray7;
    position: relative;

    &:not(.active):hover {
      text-decoration: underline;
    }
  }

  .breadcrumb--arrow::before {
    @extend %font--regular;

    color: $gray7;
    font-size: 6px;
  }

  .breadcrumb--current {
    color: $blue--brand;
  }

  margin-bottom: 1em;
}

.domains--list {
  .Directs {
    width: 55%;
  }

  .name {
    width: 30%;
  }

  .tooltip-inner {
    max-width: 350px;
  }

  .Resource .Resource-title {
    width: 100%;
  }
}

.domains-create-domain-form {
  margin-bottom: 0;

  .form--inline > div {
    display: inline-block;
  }

  .createDomain--input {
    width: 70%;

    input {
      margin-bottom: 0;
    }

    &.hasResource {
      input {
        padding-right: 270px !important;
      }

      .FloatLabel::before,
      .FloatLabel::after {
        display: none;
      }
    }
  }

  .form--inline > div:last-of-type {
    width: 27%;
    float: right;
  }

  .save-spinner {
    position: absolute;
    margin: 13px 8px;
  }

  + .resource-container {
    position: absolute;
    margin: -44px 430px;
    width: 255px;
    padding-left: 30px;
    text-align: left;
    vertical-align: top;

    &::before {
      color: $gray5;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 0;
    }

    .Resource {
      display: inline-block;
      width: 100%;

      .Resource-title {
        width: 100%;
      }

      .Resource-close {
        margin-top: -8px;
      }
    }
  }
}

.EmptyState .domains-create-domain-form + .resource-container {
  margin-left: 340px;
}
