{{#modal-window onHide="onModalHide" size="large" showCancel=false showSave=false title=modalTitle contentClasses="u-pl-2 u-pr-2"}}
  {{#form-with-validation onSubmit=onSubmit submitButtonText=submitButtonText }}
    <div class="row">
      {{float-label-input error="Application name cannot be blank" required=true value=name placeholder="Enter application name"}}
    </div>
    <div class="row">
      {{float-label-input error="Homepage must be a URL starting with http(s)://" pattern="https?://(.+)?[^\.]" required=true value=homepage placeholder="Application homepage"}}
    </div>
    <div class="row">
      {{float-label-textarea value=description error="Description cannot be blank" required=true placeholder="Enter application description"}}
    </div>
    <div class="row">
      {{float-label-input error="Callback URL must be a URL starting with http(s)://" pattern="https?://(.+)?[^\.]" required=true value=callbackUrl placeholder="Enter Application callback URL"}}
      <span class="small">Read our <a target="_blank" rel="noopener noreferrer" href="https://developers.digitalocean.com/documentation/oauth/">OAuth documentation</a> for more information on callback URLs.</span>
    </div>
  {{/form-with-validation}}
{{/modal-window}}
