.aurora-auto-complete {
  //width: 350px;
  position: relative;
  text-align: left;

  input {
    margin-bottom: 0;
  }

  .Resource {
    background: $white;

    &.selected {
      position: absolute;
      z-index: 1;
      left: 5px;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }

    .Resource-title {
      width: 100%;
    }

    .Resource-image {
      transform: scale(0.875) translate(1px, 1px);
    }
  }

  .list-wrap {
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.2s linear;

    ul {
      background: $white;
      list-style: none;
      max-height: 275px;
      overflow: auto;
      -webkit-backface-visibility: hidden;
      transform: translateZ(0);
      border-color: $blue--brand;
      border-style: solid;
      border-width: 0 1px 1px;
      border-radius: 0 0 3px 3px;

      li {
        padding: 5px 10px;
        cursor: pointer;
        border-bottom: 1px solid $gray3;

        &[data-header] {
          &::before {
            @extend %font--bold;

            content: attr(data-header);
            text-transform: uppercase;
            display: block;
            pointer-events: none;
            margin: -5px -10px 3px;
            height: 24px;
            line-height: 25px;
            padding: 0 8px;
            background: $gray1;
            color: $gray7;
            letter-spacing: 0.5px;
            font-size: 0.85rem;
            border-bottom: 1px solid $gray3;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:first-child::before {
            line-height: 26px;
          }
        }

        &.hover,
        &.hover .Resource {
          background: $blue--light-1;
        }

        &.disabled {
          cursor: default;
          pointer-events: none;

          .Resource-image,
          .Resource-title,
          .Resource-description:not(.disabled-reason) {
            opacity: 0.4;
          }
        }

        &.show-more {
          text-align: center;
        }

        &.no-results,
        &.show-more {
          cursor: default;
          height: 48px;

          &.hover {
            background: $white;
          }
        }

        &.no-results {
          line-height: 38px;
          padding-left: 14px;
        }

        &:last-of-type {
          border-bottom: none;
        }

        .show-more-loader {
          margin-top: 6px;
          height: 1.8em;
          width: 1.8em;
        }
      }
    }
  }

  &.active {
    input {
      border-radius: 3px 3px 0 0;
      border-color: $blue--brand;
    }

    .list-wrap {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
