$avatar-colors: $blue--brand, #00c6ff, #01d0c0, #00d688, #80d34a, #d7e200, #ffc001, #e681ff, #ff4c6c, #803dff;

.context-avatar {
  .avatar-small {
    position: absolute;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    bottom: 0;
    right: 8px;
    box-shadow: 0 0 0 2px $white;
  }

  .avatar-image {
    display: table-cell;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    min-width: 38px;
    min-height: 38px;
    padding: 0;
    line-height: 38px;
    color: $white;
    text-align: center;
    box-shadow: 0 0 0 2px $white;

    @each $color in $avatar-colors {
      &.b-#{index($avatar-colors, $color)} {
        background-color: #{$color};
      }
    }

    .initials {
      min-width: 14px;
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.context-avatar-tiny {
    position: absolute;
    left: -20px;
    padding-top: 3px;
    display: inline-flex;

    .avatar-tiny {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-flex;
      vertical-align: baseline;
    }

    .avatar-image {
      min-width: 15px;
      min-height: 15px;
      width: 20px;
      height: 20px;
      line-height: 19px;
      margin: 0;

      .initials {
        @extend %font--bold;

        font-size: 8px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
