.onboarding-cc-modal {
  form legend::after {
    display: none;
  }

  .credit-card-icon {
    position: absolute;
    right: 16px;
    top: 9px;
  }
}

.cc-form {
  .Loader--basic.Loader--blue {
    border: 2px solid $gray6;
    border-bottom-color: transparent;
    position: absolute;
    top: 13px;
    margin-left: 10px;
  }

  .credit-card-icon {
    position: absolute;
    right: 16px;
    top: 9px;
  }

  .FloatLabel .Tooltip {
    width: 250px;
  }

  .FloatLabel.is-required.validateFail::before,
  .FloatLabel.is-required::before,
  .FloatLabel.validatePass::after {
    display: none;
  }
}
