// New chart component used in new Droplet show charts and _treshold-chart.scss
.Chart-d3 {

  // Axis text
  text {
    fill: $gray8;
    font-feature-settings: 'tnum';
    font-size: 0.7rem;
  }

  // Metric chart lines
  path {
    stroke-width: 1;
    fill: none;
    pointer-events: none;
  }

  // Axis lines
  .axis {
    path,
    line {
      fill: none;
      stroke: rgba($gray7, 0.2); // Using this instead of full color because of stacking issues and SVGs
      stroke-width: 1;
      shape-rendering: crispEdges;
      pointer-events: none;
    }
  }

  // Focus line
  .y-focus {
    stroke: $gray9;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}

// Empty state
.chart-empty {
  color: $gray7;
  height: 100%;
  padding-top: 25%;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
}

// Global chart tooltip
.c3-tooltip-container,
.common-tooltip {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 0 1px $gray4, 0 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  padding: 1rem;
  z-index: 2;

  table.c3-tooltip {
    background: none;
    table-layout: auto;
    empty-cells: show;
    min-width: 180px;
    box-shadow: none;
    opacity: 1;

    tr {
      border: none; // reseting cloud
      padding: 0;
    }

    th {
      color: $gray9;
      font-feature-settings: 'tnum';
      font-size: 0.95rem;
      padding: 0 0 0.5rem;
      background-color: transparent;
    }

    h4 {
      border-top: 1px solid $gray2;
      left: -1rem;
      margin-bottom: -0.3rem;
      margin-top: 0.4rem;
      padding-top: 0.5rem;
      position: relative;
      text-indent: 1rem;
      width: calc(100% + 2rem);
    }

    td {
      color: $gray9;
      font-size: 1rem;
      line-height: 1.2rem;
      padding: 0;
      white-space: nowrap;
      border: none;
      background-color: transparent;

      > span {
        border-radius: 100%;
        display: inline-block;
        height: 0.5rem;
        margin-right: 0.3rem;
        position: relative;
        top: -1px;
        width: 0.5rem;
      }

      &.value {
        font-feature-settings: 'tnum';
        font-size: 0.95rem;
        padding-left: 2rem;
        text-align: right;
        top: 0.05rem;
      }

      &.empty {
        color: $gray7;
      }
    }
  }
}

// d3 chart tooltip positioning
.common-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.999;
  transition: opacity linear 80ms;

  &.hidden {
    opacity: 0.001;
  }
}
