.credit-card {
  display: block;
  border: 1px solid $gray2;
  margin-top: -1px;

  &.credit-card-selected {
    border-top-color: $blue--brand;
    border-left-color: $blue--brand;
    border-right-color: $blue--brand;

    & + .credit-card {
      border-top-color: $blue--brand;
    }
  }

  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &.credit-card-selected {
      border-bottom-color: $blue--brand;
    }
  }
}

.credit-card-checkbox {
  margin-top: 20px;
  margin-left: 15px;
}

.credit-card-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 30px;
  border-radius: 3px;

  &.visa {
    @include icon-sprite($icon-visa);
  }

  &.mastercard {
    @include icon-sprite($icon-mastercard);
  }

  &.amex {
    @include icon-sprite($icon-amex);
  }

  &.discover {
    @include icon-sprite($icon-discover);
  }
}

.credit-card-info {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-left: 5px;
}

.credit-card-name {
  color: $gray8;
  display: inline-block;
  float: left;
  clear: both;
}

.credit-card-meta {
  display: inline-block;
  float: left;
  clear: both;
  font-size: 0.8rem;
}

.credit-card-label {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}
