.creation-steps {
  text-align: center;
  color: $blue--brand;

  .u-circle {
    color: $blue--brand;
    border-color: $blue--brand;
  }
}

.creation-step {
  opacity: 0.3;
}

.creation-step--active {
  opacity: 1;
}

.creation-step--complete {
  opacity: 0.5;
  cursor: pointer;

  @include transition(all, 0.2s, ease-in-out);

  .u-circle {
    @include transition(all, 0.2s, ease-in-out);
  }

  &:hover {
    opacity: 1;

    &.no-hover {
      opacity: 0.5;
      cursor: inherit;
    }
  }

  .creation-step-label {
    position: relative;
    top: 2px;

    .cloud-container & {
      vertical-align: top;
    }
  }
}

.creation-step--disabled {
  cursor: default;
  transition: none;
  opacity: 0.5;

  &:hover {
    opacity: 0.5;
  }
}
