.domain-record-table {
  tr {
    padding-left: 0;

    .type {
      width: 10%;
      padding-left: $table-padding;
    }

    .hostNames {
      width: 27%;
    }

    .value {
      width: 38%;
    }

    .ttl {
      width: 12%;
    }

    .action {
      width: 12%;
    }

    .click-to-copy-wrap {
      max-width: 240px;
      display: inline-block;
      vertical-align: bottom;

      .click-to-copy-text {
        max-width: 100%;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        text-overflow: ellipsis;
      }

      .Label {
        position: absolute;
        top: auto;
        margin: 4px 0 0 4px;
      }
    }

    &.has-priority .click-to-copy-wrap {
      max-width: 225px;
    }

    &.mx .click-to-copy-wrap {
      max-width: 180px;
    }

    &.txt .click-to-copy-wrap {
      max-width: 280px;
    }

    .hostNames .click-to-copy-wrap {
      max-width: calc(100% - 42px);
    }
  }

  tbody tr {
    height: 65px;

    &.is-editing {
      background: $blue--light-1;

      td {
        font-size: 0;
        padding: 6px 0 0 !important;
        position: relative;
        overflow: visible;

        input,
        textarea {
          margin-bottom: 0;
        }
      }

      form {
        margin: 0;
      }

      .editable-cell {
        vertical-align: top;
      }

      .type,
      .hostNames {
        height: 57px;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .hostNames {
        width: calc(27% - 7px);
        padding-right: 30px;
      }

      .type {
        width: calc(10% + 1.5px);
      }

      &:last-of-type .type {
        position: relative;
        top: 1px;
      }

      .value {
        padding-right: 7px;

        textarea {
          min-height: 90px;
          margin-bottom: 7px;
        }

        .aurora-auto-complete {
          width: calc(100% - 15px);

          .FloatLabel::before {
            display: none;
          }

          &.is-searching {
            .FloatLabel::after {
              display: none;
            }
          }
        }
      }

      &.has-priority .value {
        .text-mail-providers-mail-server {
          width: calc(100% - 100px);
          display: inline-block;
          vertical-align: top;
        }

        .text-port {
          margin: 7px 0;
          width: calc(100% - 193px);
          display: inline-block;
          vertical-align: middle;
        }

        .text-port + .text-priority,
        .text-weight {
          vertical-align: middle;
        }

        .text-priority,
        .text-weight {
          width: 85px;
          display: inline-block;
          margin-left: 7px;
        }
      }

      .ttl {
        width: calc(12% - 5px);

        & + div {
          display: inline-block;
          width: 12%;
          padding: 0 10px;

          button {
            position: absolute;
            right: 8px;
            top: 8px;
            width: 100px;
          }
        }
      }

      .type,
      .hostNames,
      .value,
      .ttl,
      .action {
        display: inline-block;
        font-size: 1rem;
      }

      .value,
      .ttl,
      .action {
        vertical-align: top;
      }
    }

    .value .tooltip-wrap { //priority
      margin-left: 38px;
      float: right;
      margin-right: 10px;
    }

    .domainRow--prefix {
      color: $gray6;
    }

    .priority {
      @extend %font--bold;

      background: $gray3;
      color: $gray7;
      padding: 2px 5px;
      border-radius: 2px;
    }

    td:not(:last-of-type) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .save-spinner {
      position: absolute;
      margin: 13px 8px;
    }
  }

  tbody:last-child tr:last-child td {
    padding-bottom: 15px;
  }
}
