.feedback-modal-btn,
.feedback-modal {
  position: fixed;
  bottom: 0;
  display: inline-block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transform: translate3d(calc(-100% - 10px), 0, 0);
  transition: opacity 0.4s, transform 0.3s;
  z-index: 1;
}

.feedback-modal-btn {
  @extend %font--bold;

  background: $gray3;
  font-size: 0.9rem;
  color: $gray8;
  padding: 12px 20px;
  cursor: pointer;

  &.hide {
    transform: translate3d(-100%, 100%, 0);
  }
}

.feedback-modal {
  background: $white;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.15), -2px 0 6px rgba(0, 0, 0, 0.15);
  opacity: 0.01;
  transition: opacity 0.4s, transform 0.3s ease;
  transform: translate3d(-100%, 90%, 0);
  padding: 30px;
  width: 400px;
  z-index: 0;

  strong {
    margin: -15px 0 10px;
    display: block;
  }

  .Icon--close {
    top: 15px;
    right: 15px;
    font-size: 1rem;
    color: $gray7;
  }

  .FloatLabel {
    &::after {
      display: none;
    }

    textarea {
      min-height: 9rem;
    }
  }

  &.show {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    z-index: 2;
  }

  .success {
    @extend %font--bold;

    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    &.after-success {
      opacity: 1;
    }
  }

  .saving-spinner {
    position: absolute;
    right: 38px;
    bottom: 42px;
  }

  .msg {
    opacity: 1;
    transition: opacity 0.3s;

    &.after-success {
      pointer-events: none;
      opacity: 0;
    }
  }
}
