.feedback {
  position: fixed;
  right: 1.5rem;
  bottom: -2px;
  width: 31rem;
  background: $white;
  border-radius: $border_radius $border_radius 0 0;
  border: 1px solid $gray4;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
  display: none;

  &.active {
    display: block;
  }

  .Icon--close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    color: $gray5;
  }

  textarea {
    min-height: 6rem;
  }
}

.openFeedback {
  position: fixed;
  right: 1.5rem;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  display: none;

  &.active {
    display: block;
  }
}
