$flag-regions: (
  icon-ams: ($icon-amsterdam, $icon-amsterdam-lrg),
  icon-fra: ($icon-frankfurt, $icon-frankfurt-lrg),
  icon-lon: ($icon-london, $icon-london-lrg),
  icon-nyc: ($icon-new-york, $icon-new-york-lrg),
  icon-sfo: ($icon-new-york, $icon-new-york-lrg),
  icon-sgp: ($icon-singapore, $icon-singapore-lrg),
  icon-tor: ($icon-toronto, $icon-toronto-lrg),
  icon-blr: ($icon-india, $icon-india-lrg),
);

@each $flag-icon-name, $flag-region-sprite in $flag-regions {
  @for $i from 1 to 4 {
    .#{$flag-icon-name}#{$i} {
      @include icon-sprite(nth($flag-region-sprite, 1));
    }

    .#{$flag-icon-name}#{$i}.large {
      @include icon-sprite(nth($flag-region-sprite, 2));
    }
  }
}
