// TODO: Can (should?) this be moved into buoy?
.FloatLabelSelect {
  position: relative;

  .select {
    color: $gray6;
  }

  // On Chrome on non-Mac platforms, it's necessary to specify the
  // <option> element colors so they don't appear as gray / "disabled".
  option {
    color: $gray8;

    &:disabled {
      color: $gray6;
    }
  }
}

.FloatLabelSelect.is-active {
  .select {
    padding-top: 1.2em;
    padding-bottom: 0.45em;
  }

  .FloatLabelSelect-label {
    opacity: 1;
    visibility: visible;
  }
}

.FloatLabelSelect.is-selected {
  .select {
    color: $gray9;
  }
}

.FloatLabelSelect.select-is-required {
  .validate-asterisk::after {
    content: '*';
    position: absolute;
    top: 11px;
    right: 11px;
    color: $blue--brand;
    font-size: 25px;
    pointer-events: none;

    @include transition(all, 0.3s, ease);
  }

  .validate-check::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: 'buoycons';
    font-size: 0.8rem;
    transform: scale(0);
    pointer-events: none;

    @include transition(all, 0.3s, cubic-bezier(0.2, 0.41, 0.55, 1.69));
  }

  &::after {
    right: 31px;
  }
}

.FloatLabelSelect.validatePass {
  .validate-asterisk::after {
    opacity: 0;
  }

  .validate-check::after {
    content: '\e603';
    color: $green;
    transform: scale(1);
  }

  &::after {
    right: 37px;
  }
}

.FloatLabelSelect.validateFail {
  .select {
    border-color: $red;
  }

  .FloatLabelSelect-label {
    color: $red;
  }

  .validate-asterisk::after {
    color: $red;
  }
}

.FloatLabelSelect.no-checkmark {
  &::after {
    right: 15px;
  }
}

.FloatLabelSelect-label {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 11px;
  font-weight: map-get($font-weight, bold);
  color: $gray6;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  visibility: hidden;
  opacity: 0;

  @include transition(all, 0.2s, ease-in-out);
}
