.gmail-contact {
  @include user-select(none);

  cursor: pointer;
  padding: 15px;
  border-top: 1px solid $gray3;
  position: relative;

  &:first-child {
    border-top: 0 none;
  }

  &:last-child {
    border-bottom: 0 none;
  }

  &.gmail-contact-selected {
    background: $gray2;
    border-top-color: $blue--light-2;

    & + .gmail-contact {
      border-top-color: $blue--light-2;
    }
  }

  &.gmail-contact-disabled {
    pointer-events: none;
  }

  .gmail-contact-label {
    width: 100%;
  }

  .gmail-contact-name {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .gmail-contact-email {
    float: right;
    text-align: right;
    width: 50%;
  }
}
