.gmail-invites {
  .gmail-contact-search {
    position: relative;

    .Icon--search {
      position: absolute;
      top: 15px;
      left: 18px;
      color: $gray4;
    }
  }

  .gmail-contact-search-input {
    padding-left: 3rem;
  }

  .gmail-contact-list {
    border: 1px solid $gray3;
    overflow: scroll;
    max-height: 244px;
  }

  .gmail-limit-banner {
    padding: 20px 30px;
    color: $red--brand;
  }
}
