.Button--hoverable {
  width: 100%;

  .action::before {
    content: '';
  }

  .action::after {
    content: ' Enabled';
  }

  .Loader--basic {
    left: 10px;
    position: relative;
  }

  &:hover {
    .action::before {
      content: 'Disable ';
    }

    .action::after {
      content: '';
    }
  }
}
