.inline-bar-chart {
  display: inline-block;
  background-color: $gray4;
  width: 100%;
  height: 0.5rem;
  border-radius: 2px;
  overflow: hidden;

  > span {
    display: block;
    background-color: $compute_data_color;
    height: 0.5rem;
    border-radius: 2px 0 0 2px;
    transition: all 0.2s ease;
  }
}
