.input-stepper {
  position: relative;

  .stepper {
    width: 100%;
    position: relative;
    border: 2px solid $gray2;
    height: 48px;
    line-height: 48px;
    text-align: center;

    .decrease,
    .increase {
      @include user-select(none);

      @extend %font--bold;

      position: absolute;
      right: 0;
      top: -2px;
      font-size: 14px;
      width: 48px;
      height: 48px;
      line-height: 20px;
      display: inline-block;
      color: $blue--brand;
      cursor: pointer;
      padding-top: 18px;
      border-left: 2px solid $gray2;

      &.disabled {
        cursor: default;
        color: $gray5;

        &::before {
          opacity: 0.8;
        }
      }
    }

    .decrease {
      right: auto;
      left: 0;
      border-left: 0;
      border-right: 2px solid $gray2;
    }

    .input {
      display: inline-block;
      width: 153px;
      height: 46px;
      text-align: center;
      font-size: 16px;
      position: relative;
      top: -1px;
      z-index: 2;
      border: 1px solid $blue--brand;
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        @include appearance(none);

        margin: 0;
      }
    }

    &.is-disabled {
      opacity: 0.9;
      color: $gray5;

      .decrease,
      .increase,
      input {
        color: $gray5;
      }
    }
  }

  .message {
    padding: 6px 0;
    margin-bottom: -32px;
    width: 100%;
    color: $gray6;
  }
}
