.Loader--basic {
  height: 21px;
  width: 21px;

  &.smaller {
    height: 16px;
    width: 16px;
  }

  &.gif {
    animation: none;
    border: none;
    background-image: url('/assets/images/loader.gif');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  &.white {
    border-color: $white;
    border-bottom-color: transparent;
  }
}
