.aurora-news-modal {
  .Modal-dialog {
    @media (min-width: 768px) {
      width: $aurora_news_modal_width;
    }
  }

  .Modal-header {
    display: none;
  }

  .Modal-body {
    padding: 0;

    .news-modal-title {
      padding: 1.2rem 2rem 0;
      margin-bottom: 0;
    }

    .news-modal-content {
      img {
        width: 100%;
        min-width: 100%;
      }

      ol,
      ul,
      p {
        padding: 2rem;
        margin-bottom: 0;
      }

      p:first-of-type {
        padding-top: 0;
        padding-bottom: 0;

        &:last-of-type {
          padding-bottom: 2rem;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding: 2rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .Modal-footer {
    padding-top: 0;

    .small-6 {
      width: 100%;
    }

    .Button {
      margin-top: 0 !important;
    }
  }
}
