$alert-color: $red--brand;
$notice-color: $green--brand;
$type-indicator-size: 25px;
$margin: 20px;

#aurora-container {
  .aurora-notifications {
    position: fixed;
    right: 0;
    list-style: none;
    top: 56px;
    z-index: 10513; //todo: fix this - re: buoy uses 10512!
    margin: 0;
    padding: 0;
    pointer-events: none;

    .item {
      width: 420px;
      padding: 30px 25px;
      margin: $margin 0;
      background: $white;
      cursor: pointer;
      position: relative;
      pointer-events: auto;
      border-radius: 3px;
      border: 2px solid currentColor;
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px;
      transition: transform 0.5s ease;
      transform: translate3d(calc(100% + #{$type-indicator-size / 2}), 0, 0);

      button {
        font-size: 0;
        border: 1px solid transparent;
        background-color: $white;
        padding: 0;
        cursor: pointer;
        color: currentColor;
        outline: none !important;
        display: block;

        &::after {
          content: '\2715';
          font-size: 16px;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1;
        }
      }

      a {
        display: block;
        margin-top: 6px;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &:hover {
        background: $gray1;

        button {
          background-color: $gray1;
        }
      }

      &.show {
        transform: translate3d(-$margin, 0, 0);
      }

      &.notice {
        color: $notice-color;
      }

      &.alert {
        color: $alert-color;
      }

      &.alert,
      &.notice {
        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: $type-indicator-size / 2;
        }

        &::before {
          top: -$type-indicator-size / 2;
          left: -$type-indicator-size / 2;
          height: $type-indicator-size;
          width: $type-indicator-size;
        }
      }

      &.alert::before {
        background: $alert-color;
      }

      &.notice::before {
        background: $notice-color;
      }

      &.alert::after {
        @include icon-sprite($icon-alert);

        top: -$icon-alert-height / 2;
        left: -$icon-alert-width / 2;
      }

      &.notice::after {
        @include icon-sprite($icon-notice);

        top: -$icon-notice-height / 2;
        left: -$icon-notice-width / 2;
      }
    }
  }
}
