.paypal-form {
  .Button {
    .paypal {
      display: inline-block;
      vertical-align: middle;

      @include icon-sprite($icon-paypal-white);
    }

    &.is-disabled {
      .paypal {
        @include icon-sprite($icon-paypal-gray);
      }

      .Loader--basic {
        border: 2px solid $gray6;
        border-bottom-color: transparent;
      }
    }
  }
}
