.popover {
  color: $blue--brand;

  & + .Tooltip {
    &.Tooltip--top .Tooltip-arrow {
      border-top-color: $blue--brand;
      bottom: 7px;
      border-width: 0;
      margin-left: 0;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $white;
        bottom: -7px;
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -9px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid $blue--brand;
        bottom: -9px;
      }
    }

    .Tooltip-inner {
      @extend %font--regular;

      background: $white;
      color: $black;
      border: 2px solid $blue--brand;
      text-align: left;
      padding: 1rem;
    }
  }
}

.popover-content {
  display: none;
}
