.aurora-region-chooser {
  border-radius: 3px;
  background: $white;
  color: $gray4;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  border: 1px solid $gray4;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 20px;
    pointer-events: none;
    margin-left: $icon-new-york-lrg-width / -2;

    @include icon-sprite($icon-new-york-lrg);
  }

  &:hover {
    border-color: $gray5;
  }

  &.selected {
    background: $blue--light-1;
    border-color: $blue--brand;

    .name {
      color: $blue--brand;

      &:hover {
        background: $blue--light-1;
        color: $blue--brand;

        + .dcs {
          border-color: $blue--brand;
        }

        + .dcs > li {
          border-color: $blue--brand;
        }
      }
    }

    .dcs {
      border-color: $blue--brand;

      &:hover {
        border-color: $blue--brand;

        > li {
          border-color: $blue--brand;
        }
      }

      > li {
        border-color: $blue--brand;

        .unbuttonized {
          &:hover,
          &:focus {
            background: $blue--light-1;
            color: $blue--brand;
          }
        }
      }
    }
  }

  &.no-options {
    cursor: default;

    &:hover {
      border-color: $gray4;
    }

    &::after {
      opacity: 0.4;
    }

    .name {
      color: $gray4;

      &:hover {
        background: $white;

        + .dcs,
        + .dcs > li {
          border-color: $gray4;
        }
      }
    }

    .dcs:hover {
      border-color: $gray4;

      > li {
        border-color: $gray4;
      }
    }
  }

  .name {
    color: $gray8;
    display: block;
    height: 94px;
    line-height: 138px;

    &:hover {
      background: $gray2;

      + .dcs,
      + .dcs > li {
        border-color: $gray5;
      }
    }
  }

  .dcs {
    list-style: none;
    padding: 0;
    color: $gray8;
    border-top: 1px solid $gray4;
    display: flex;
    flex-direction: row;

    &:hover {
      border-color: $gray5;

      > li {
        border-color: $gray5;
      }
    }

    > li {
      width: 100%;
      border-right: 1px solid $gray4;
      flex-grow: 1;

      &:first-of-type .unbuttonized {
        border-bottom-left-radius: 3px;
      }

      &:last-of-type {
        border-right: none;

        .unbuttonized {
          border-bottom-right-radius: 3px;
        }
      }

      .unbuttonized {
        height: 43px;
        line-height: 43px;
        display: inline-block;
        width: 100%;
        background: $white;

        &:hover,
        &:focus {
          background: $gray2;
          outline: none;
        }

        &:focus {
          box-shadow: 0 0 1px $gray5;
        }

        &.selected {
          @extend %font--bold;

          background: $blue--light-1;
          color: $blue--brand;
        }
      }

      &.disabled .unbuttonized {
        @extend %font--regular;

        cursor: default;
        color: $gray3;

        &:hover {
          border-color: $gray3;
          background: $white;
          color: $gray3;
        }
      }
    }
  }

  .tooltip-wrap {
    width: 100%;
  }

  .Tooltip {
    width: 220px;
    margin-top: -5px;
  }
}

.aurora-region-chooser,
.attach-volume-modal .region-button {
  &.ams::after {
    @include icon-sprite($icon-amsterdam-lrg);
  }

  &.sgp::after {
    @include icon-sprite($icon-singapore-lrg);
  }

  &.lon::after {
    @include icon-sprite($icon-london-lrg);
  }

  &.tor::after {
    @include icon-sprite($icon-toronto-lrg);
  }

  &.fra::after {
    @include icon-sprite($icon-frankfurt-lrg);
  }

  &.blr::after {
    @include icon-sprite($icon-india-lrg);
  }
}
