.searchInput {
  position: relative;
  transform: translateZ(0);

  input.FloatLabel-input {
    padding-right: 50px !important;
  }

  .searchLoader {
    position: absolute;
    top: 13px;
    right: 15px;
  }
}
