$icon-cassandra-x: 0;
$icon-cassandra-y: 0;
$icon-cassandra-width: 32px;
$icon-cassandra-height: 32px;
$icon-cassandra: $icon-cassandra-x $icon-cassandra-y $icon-cassandra-width $icon-cassandra-height;
$icon-default-x: 0;
$icon-default-y: -33px;
$icon-default-width: 32px;
$icon-default-height: 32px;
$icon-default: $icon-default-x $icon-default-y $icon-default-width $icon-default-height;
$icon-discourse-x: 0;
$icon-discourse-y: -66px;
$icon-discourse-width: 32px;
$icon-discourse-height: 32px;
$icon-discourse: $icon-discourse-x $icon-discourse-y $icon-discourse-width $icon-discourse-height;
$icon-django-x: 0;
$icon-django-y: -99px;
$icon-django-width: 32px;
$icon-django-height: 32px;
$icon-django: $icon-django-x $icon-django-y $icon-django-width $icon-django-height;
$icon-docker-x: 0;
$icon-docker-y: -132px;
$icon-docker-width: 32px;
$icon-docker-height: 32px;
$icon-docker: $icon-docker-x $icon-docker-y $icon-docker-width $icon-docker-height;
$icon-dokku-x: 0;
$icon-dokku-y: -165px;
$icon-dokku-width: 32px;
$icon-dokku-height: 32px;
$icon-dokku: $icon-dokku-x $icon-dokku-y $icon-dokku-width $icon-dokku-height;
$icon-drone-x: 0;
$icon-drone-y: -198px;
$icon-drone-width: 32px;
$icon-drone-height: 32px;
$icon-drone: $icon-drone-x $icon-drone-y $icon-drone-width $icon-drone-height;
$icon-drupal-x: 0;
$icon-drupal-y: -231px;
$icon-drupal-width: 32px;
$icon-drupal-height: 32px;
$icon-drupal: $icon-drupal-x $icon-drupal-y $icon-drupal-width $icon-drupal-height;
$icon-elixir-x: 0;
$icon-elixir-y: -264px;
$icon-elixir-width: 32px;
$icon-elixir-height: 32px;
$icon-elixir: $icon-elixir-x $icon-elixir-y $icon-elixir-width $icon-elixir-height;
$icon-elk-x: 0;
$icon-elk-y: -297px;
$icon-elk-width: 32px;
$icon-elk-height: 32px;
$icon-elk: $icon-elk-x $icon-elk-y $icon-elk-width $icon-elk-height;
$icon-ghost-x: 0;
$icon-ghost-y: -330px;
$icon-ghost-width: 32px;
$icon-ghost-height: 32px;
$icon-ghost: $icon-ghost-x $icon-ghost-y $icon-ghost-width $icon-ghost-height;
$icon-gitlab-x: 0;
$icon-gitlab-y: -363px;
$icon-gitlab-width: 32px;
$icon-gitlab-height: 32px;
$icon-gitlab: $icon-gitlab-x $icon-gitlab-y $icon-gitlab-width $icon-gitlab-height;
$icon-horizon-rethinkdb-x: 0;
$icon-horizon-rethinkdb-y: -396px;
$icon-horizon-rethinkdb-width: 32px;
$icon-horizon-rethinkdb-height: 32px;
$icon-horizon-rethinkdb: $icon-horizon-rethinkdb-x $icon-horizon-rethinkdb-y $icon-horizon-rethinkdb-width $icon-horizon-rethinkdb-height;
$icon-joomla-x: 0;
$icon-joomla-y: -429px;
$icon-joomla-width: 32px;
$icon-joomla-height: 32px;
$icon-joomla: $icon-joomla-x $icon-joomla-y $icon-joomla-width $icon-joomla-height;
$icon-lamp-x: 0;
$icon-lamp-y: -462px;
$icon-lamp-width: 32px;
$icon-lamp-height: 32px;
$icon-lamp: $icon-lamp-x $icon-lamp-y $icon-lamp-width $icon-lamp-height;
$icon-lemp-x: 0;
$icon-lemp-y: -495px;
$icon-lemp-width: 32px;
$icon-lemp-height: 32px;
$icon-lemp: $icon-lemp-x $icon-lemp-y $icon-lemp-width $icon-lemp-height;
$icon-magento-x: 0;
$icon-magento-y: -528px;
$icon-magento-width: 32px;
$icon-magento-height: 32px;
$icon-magento: $icon-magento-x $icon-magento-y $icon-magento-width $icon-magento-height;
$icon-mean-x: 0;
$icon-mean-y: -561px;
$icon-mean-width: 32px;
$icon-mean-height: 32px;
$icon-mean: $icon-mean-x $icon-mean-y $icon-mean-width $icon-mean-height;
$icon-mediawiki-x: 0;
$icon-mediawiki-y: -594px;
$icon-mediawiki-width: 32px;
$icon-mediawiki-height: 32px;
$icon-mediawiki: $icon-mediawiki-x $icon-mediawiki-y $icon-mediawiki-width $icon-mediawiki-height;
$icon-mongodb-x: 0;
$icon-mongodb-y: -627px;
$icon-mongodb-width: 32px;
$icon-mongodb-height: 32px;
$icon-mongodb: $icon-mongodb-x $icon-mongodb-y $icon-mongodb-width $icon-mongodb-height;
$icon-mumble-server-murmur-x: 0;
$icon-mumble-server-murmur-y: -660px;
$icon-mumble-server-murmur-width: 32px;
$icon-mumble-server-murmur-height: 32px;
$icon-mumble-server-murmur: $icon-mumble-server-murmur-x $icon-mumble-server-murmur-y $icon-mumble-server-murmur-width $icon-mumble-server-murmur-height;
$icon-node-x: 0;
$icon-node-y: -693px;
$icon-node-width: 32px;
$icon-node-height: 32px;
$icon-node: $icon-node-x $icon-node-y $icon-node-width $icon-node-height;
$icon-nodejs-x: 0;
$icon-nodejs-y: -726px;
$icon-nodejs-width: 32px;
$icon-nodejs-height: 32px;
$icon-nodejs: $icon-nodejs-x $icon-nodejs-y $icon-nodejs-width $icon-nodejs-height;
$icon-owncloud-x: 0;
$icon-owncloud-y: -759px;
$icon-owncloud-width: 32px;
$icon-owncloud-height: 32px;
$icon-owncloud: $icon-owncloud-x $icon-owncloud-y $icon-owncloud-width $icon-owncloud-height;
$icon-phpmyadmin-x: 0;
$icon-phpmyadmin-y: -792px;
$icon-phpmyadmin-width: 32px;
$icon-phpmyadmin-height: 32px;
$icon-phpmyadmin: $icon-phpmyadmin-x $icon-phpmyadmin-y $icon-phpmyadmin-width $icon-phpmyadmin-height;
$icon-redis-x: 0;
$icon-redis-y: -825px;
$icon-redis-width: 32px;
$icon-redis-height: 32px;
$icon-redis: $icon-redis-x $icon-redis-y $icon-redis-width $icon-redis-height;
$icon-redmine-x: 0;
$icon-redmine-y: -858px;
$icon-redmine-width: 32px;
$icon-redmine-height: 32px;
$icon-redmine: $icon-redmine-x $icon-redmine-y $icon-redmine-width $icon-redmine-height;
$icon-ruby-x: 0;
$icon-ruby-y: -891px;
$icon-ruby-width: 32px;
$icon-ruby-height: 32px;
$icon-ruby: $icon-ruby-x $icon-ruby-y $icon-ruby-width $icon-ruby-height;
$icon-rubyonrails-x: 0;
$icon-rubyonrails-y: -924px;
$icon-rubyonrails-width: 32px;
$icon-rubyonrails-height: 32px;
$icon-rubyonrails: $icon-rubyonrails-x $icon-rubyonrails-y $icon-rubyonrails-width $icon-rubyonrails-height;
$icon-wordpress-x: 0;
$icon-wordpress-y: -957px;
$icon-wordpress-width: 32px;
$icon-wordpress-height: 32px;
$icon-wordpress: $icon-wordpress-x $icon-wordpress-y $icon-wordpress-width $icon-wordpress-height;
$icon-amex-x: 0;
$icon-amex-y: -990px;
$icon-amex-width: 44px;
$icon-amex-height: 30px;
$icon-amex: $icon-amex-x $icon-amex-y $icon-amex-width $icon-amex-height;
$icon-discover-x: 0;
$icon-discover-y: -1021px;
$icon-discover-width: 44px;
$icon-discover-height: 30px;
$icon-discover: $icon-discover-x $icon-discover-y $icon-discover-width $icon-discover-height;
$icon-mastercard-x: 0;
$icon-mastercard-y: -1052px;
$icon-mastercard-width: 44px;
$icon-mastercard-height: 30px;
$icon-mastercard: $icon-mastercard-x $icon-mastercard-y $icon-mastercard-width $icon-mastercard-height;
$icon-visa-x: 0;
$icon-visa-y: -1083px;
$icon-visa-width: 44px;
$icon-visa-height: 30px;
$icon-visa: $icon-visa-x $icon-visa-y $icon-visa-width $icon-visa-height;
$icon-amsterdam-lrg-x: 0;
$icon-amsterdam-lrg-y: -1114px;
$icon-amsterdam-lrg-width: 50px;
$icon-amsterdam-lrg-height: 28px;
$icon-amsterdam-lrg: $icon-amsterdam-lrg-x $icon-amsterdam-lrg-y $icon-amsterdam-lrg-width $icon-amsterdam-lrg-height;
$icon-amsterdam-x: 0;
$icon-amsterdam-y: -1143px;
$icon-amsterdam-width: 25px;
$icon-amsterdam-height: 14px;
$icon-amsterdam: $icon-amsterdam-x $icon-amsterdam-y $icon-amsterdam-width $icon-amsterdam-height;
$icon-frankfurt-lrg-x: 0;
$icon-frankfurt-lrg-y: -1158px;
$icon-frankfurt-lrg-width: 50px;
$icon-frankfurt-lrg-height: 28px;
$icon-frankfurt-lrg: $icon-frankfurt-lrg-x $icon-frankfurt-lrg-y $icon-frankfurt-lrg-width $icon-frankfurt-lrg-height;
$icon-frankfurt-x: 0;
$icon-frankfurt-y: -1187px;
$icon-frankfurt-width: 25px;
$icon-frankfurt-height: 14px;
$icon-frankfurt: $icon-frankfurt-x $icon-frankfurt-y $icon-frankfurt-width $icon-frankfurt-height;
$icon-india-lrg-x: 0;
$icon-india-lrg-y: -1202px;
$icon-india-lrg-width: 50px;
$icon-india-lrg-height: 28px;
$icon-india-lrg: $icon-india-lrg-x $icon-india-lrg-y $icon-india-lrg-width $icon-india-lrg-height;
$icon-india-x: 0;
$icon-india-y: -1231px;
$icon-india-width: 25px;
$icon-india-height: 14px;
$icon-india: $icon-india-x $icon-india-y $icon-india-width $icon-india-height;
$icon-london-lrg-x: 0;
$icon-london-lrg-y: -1246px;
$icon-london-lrg-width: 50px;
$icon-london-lrg-height: 28px;
$icon-london-lrg: $icon-london-lrg-x $icon-london-lrg-y $icon-london-lrg-width $icon-london-lrg-height;
$icon-london-x: 0;
$icon-london-y: -1275px;
$icon-london-width: 25px;
$icon-london-height: 14px;
$icon-london: $icon-london-x $icon-london-y $icon-london-width $icon-london-height;
$icon-new-york-lrg-x: 0;
$icon-new-york-lrg-y: -1290px;
$icon-new-york-lrg-width: 50px;
$icon-new-york-lrg-height: 28px;
$icon-new-york-lrg: $icon-new-york-lrg-x $icon-new-york-lrg-y $icon-new-york-lrg-width $icon-new-york-lrg-height;
$icon-new-york-x: 0;
$icon-new-york-y: -1319px;
$icon-new-york-width: 25px;
$icon-new-york-height: 14px;
$icon-new-york: $icon-new-york-x $icon-new-york-y $icon-new-york-width $icon-new-york-height;
$icon-singapore-lrg-x: 0;
$icon-singapore-lrg-y: -1334px;
$icon-singapore-lrg-width: 50px;
$icon-singapore-lrg-height: 28px;
$icon-singapore-lrg: $icon-singapore-lrg-x $icon-singapore-lrg-y $icon-singapore-lrg-width $icon-singapore-lrg-height;
$icon-singapore-x: 0;
$icon-singapore-y: -1363px;
$icon-singapore-width: 25px;
$icon-singapore-height: 14px;
$icon-singapore: $icon-singapore-x $icon-singapore-y $icon-singapore-width $icon-singapore-height;
$icon-toronto-lrg-x: 0;
$icon-toronto-lrg-y: -1378px;
$icon-toronto-lrg-width: 50px;
$icon-toronto-lrg-height: 28px;
$icon-toronto-lrg: $icon-toronto-lrg-x $icon-toronto-lrg-y $icon-toronto-lrg-width $icon-toronto-lrg-height;
$icon-toronto-x: 0;
$icon-toronto-y: -1407px;
$icon-toronto-width: 25px;
$icon-toronto-height: 14px;
$icon-toronto: $icon-toronto-x $icon-toronto-y $icon-toronto-width $icon-toronto-height;
$icon-breadcrumb-bucket-x: 0;
$icon-breadcrumb-bucket-y: -1422px;
$icon-breadcrumb-bucket-width: 13px;
$icon-breadcrumb-bucket-height: 17px;
$icon-breadcrumb-bucket: $icon-breadcrumb-bucket-x $icon-breadcrumb-bucket-y $icon-breadcrumb-bucket-width $icon-breadcrumb-bucket-height;
$icon-bucket-lrg-x: 0;
$icon-bucket-lrg-y: -1440px;
$icon-bucket-lrg-width: 51px;
$icon-bucket-lrg-height: 51px;
$icon-bucket-lrg: $icon-bucket-lrg-x $icon-bucket-lrg-y $icon-bucket-lrg-width $icon-bucket-lrg-height;
$icon-bucket-x: 0;
$icon-bucket-y: -1492px;
$icon-bucket-width: 33px;
$icon-bucket-height: 33px;
$icon-bucket: $icon-bucket-x $icon-bucket-y $icon-bucket-width $icon-bucket-height;
$icon-copy-x: 0;
$icon-copy-y: -1526px;
$icon-copy-width: 12px;
$icon-copy-height: 15px;
$icon-copy: $icon-copy-x $icon-copy-y $icon-copy-width $icon-copy-height;
$icon-default-notification-x: 0;
$icon-default-notification-y: -1542px;
$icon-default-notification-width: 32px;
$icon-default-notification-height: 32px;
$icon-default-notification: $icon-default-notification-x $icon-default-notification-y $icon-default-notification-width $icon-default-notification-height;
$icon-download-x: 0;
$icon-download-y: -1575px;
$icon-download-width: 12px;
$icon-download-height: 15px;
$icon-download: $icon-download-x $icon-download-y $icon-download-width $icon-download-height;
$icon-droplet-lrg-x: 0;
$icon-droplet-lrg-y: -1591px;
$icon-droplet-lrg-width: 51px;
$icon-droplet-lrg-height: 51px;
$icon-droplet-lrg: $icon-droplet-lrg-x $icon-droplet-lrg-y $icon-droplet-lrg-width $icon-droplet-lrg-height;
$icon-droplet-no-circle-x: 0;
$icon-droplet-no-circle-y: -1643px;
$icon-droplet-no-circle-width: 10px;
$icon-droplet-no-circle-height: 13px;
$icon-droplet-no-circle: $icon-droplet-no-circle-x $icon-droplet-no-circle-y $icon-droplet-no-circle-width $icon-droplet-no-circle-height;
$icon-droplet-snapshot-x: 0;
$icon-droplet-snapshot-y: -1657px;
$icon-droplet-snapshot-width: 33px;
$icon-droplet-snapshot-height: 33px;
$icon-droplet-snapshot: $icon-droplet-snapshot-x $icon-droplet-snapshot-y $icon-droplet-snapshot-width $icon-droplet-snapshot-height;
$icon-droplet-x: 0;
$icon-droplet-y: -1691px;
$icon-droplet-width: 33px;
$icon-droplet-height: 33px;
$icon-droplet: $icon-droplet-x $icon-droplet-y $icon-droplet-width $icon-droplet-height;
$icon-centos-blue-x: 0;
$icon-centos-blue-y: -1725px;
$icon-centos-blue-width: 50px;
$icon-centos-blue-height: 50px;
$icon-centos-blue: $icon-centos-blue-x $icon-centos-blue-y $icon-centos-blue-width $icon-centos-blue-height;
$icon-centos-gray-x: 0;
$icon-centos-gray-y: -1776px;
$icon-centos-gray-width: 50px;
$icon-centos-gray-height: 50px;
$icon-centos-gray: $icon-centos-gray-x $icon-centos-gray-y $icon-centos-gray-width $icon-centos-gray-height;
$icon-coreos-blue-x: 0;
$icon-coreos-blue-y: -1827px;
$icon-coreos-blue-width: 50px;
$icon-coreos-blue-height: 50px;
$icon-coreos-blue: $icon-coreos-blue-x $icon-coreos-blue-y $icon-coreos-blue-width $icon-coreos-blue-height;
$icon-coreos-gray-x: 0;
$icon-coreos-gray-y: -1878px;
$icon-coreos-gray-width: 50px;
$icon-coreos-gray-height: 50px;
$icon-coreos-gray: $icon-coreos-gray-x $icon-coreos-gray-y $icon-coreos-gray-width $icon-coreos-gray-height;
$icon-debian-blue-x: 0;
$icon-debian-blue-y: -1929px;
$icon-debian-blue-width: 50px;
$icon-debian-blue-height: 50px;
$icon-debian-blue: $icon-debian-blue-x $icon-debian-blue-y $icon-debian-blue-width $icon-debian-blue-height;
$icon-debian-gray-x: 0;
$icon-debian-gray-y: -1980px;
$icon-debian-gray-width: 50px;
$icon-debian-gray-height: 50px;
$icon-debian-gray: $icon-debian-gray-x $icon-debian-gray-y $icon-debian-gray-width $icon-debian-gray-height;
$icon-fedora-blue-x: 0;
$icon-fedora-blue-y: -2031px;
$icon-fedora-blue-width: 50px;
$icon-fedora-blue-height: 50px;
$icon-fedora-blue: $icon-fedora-blue-x $icon-fedora-blue-y $icon-fedora-blue-width $icon-fedora-blue-height;
$icon-fedora-gray-x: 0;
$icon-fedora-gray-y: -2082px;
$icon-fedora-gray-width: 50px;
$icon-fedora-gray-height: 50px;
$icon-fedora-gray: $icon-fedora-gray-x $icon-fedora-gray-y $icon-fedora-gray-width $icon-fedora-gray-height;
$icon-floating-ip-x: 0;
$icon-floating-ip-y: -2133px;
$icon-floating-ip-width: 33px;
$icon-floating-ip-height: 33px;
$icon-floating-ip: $icon-floating-ip-x $icon-floating-ip-y $icon-floating-ip-width $icon-floating-ip-height;
$icon-freebsd-blue-x: 0;
$icon-freebsd-blue-y: -2167px;
$icon-freebsd-blue-width: 50px;
$icon-freebsd-blue-height: 50px;
$icon-freebsd-blue: $icon-freebsd-blue-x $icon-freebsd-blue-y $icon-freebsd-blue-width $icon-freebsd-blue-height;
$icon-freebsd-gray-x: 0;
$icon-freebsd-gray-y: -2218px;
$icon-freebsd-gray-width: 50px;
$icon-freebsd-gray-height: 50px;
$icon-freebsd-gray: $icon-freebsd-gray-x $icon-freebsd-gray-y $icon-freebsd-gray-width $icon-freebsd-gray-height;
$icon-ubuntu-blue-x: 0;
$icon-ubuntu-blue-y: -2269px;
$icon-ubuntu-blue-width: 50px;
$icon-ubuntu-blue-height: 50px;
$icon-ubuntu-blue: $icon-ubuntu-blue-x $icon-ubuntu-blue-y $icon-ubuntu-blue-width $icon-ubuntu-blue-height;
$icon-ubuntu-gray-x: 0;
$icon-ubuntu-gray-y: -2320px;
$icon-ubuntu-gray-width: 50px;
$icon-ubuntu-gray-height: 50px;
$icon-ubuntu-gray: $icon-ubuntu-gray-x $icon-ubuntu-gray-y $icon-ubuntu-gray-width $icon-ubuntu-gray-height;
$icon-file-lrg-x: 0;
$icon-file-lrg-y: -2371px;
$icon-file-lrg-width: 33px;
$icon-file-lrg-height: 46px;
$icon-file-lrg: $icon-file-lrg-x $icon-file-lrg-y $icon-file-lrg-width $icon-file-lrg-height;
$icon-file-x: 0;
$icon-file-y: -2418px;
$icon-file-width: 17px;
$icon-file-height: 24px;
$icon-file: $icon-file-x $icon-file-y $icon-file-width $icon-file-height;
$icon-firewall-lrg-x: 0;
$icon-firewall-lrg-y: -2443px;
$icon-firewall-lrg-width: 51px;
$icon-firewall-lrg-height: 51px;
$icon-firewall-lrg: $icon-firewall-lrg-x $icon-firewall-lrg-y $icon-firewall-lrg-width $icon-firewall-lrg-height;
$icon-firewall-nocircle-x: 0;
$icon-firewall-nocircle-y: -2495px;
$icon-firewall-nocircle-width: 33px;
$icon-firewall-nocircle-height: 33px;
$icon-firewall-nocircle: $icon-firewall-nocircle-x $icon-firewall-nocircle-y $icon-firewall-nocircle-width $icon-firewall-nocircle-height;
$icon-firewall-x: 0;
$icon-firewall-y: -2529px;
$icon-firewall-width: 33px;
$icon-firewall-height: 33px;
$icon-firewall: $icon-firewall-x $icon-firewall-y $icon-firewall-width $icon-firewall-height;
$icon-folder-x: 0;
$icon-folder-y: -2563px;
$icon-folder-width: 24px;
$icon-folder-height: 20px;
$icon-folder: $icon-folder-x $icon-folder-y $icon-folder-width $icon-folder-height;
$icon-github-connected-x: 0;
$icon-github-connected-y: -2584px;
$icon-github-connected-width: 25px;
$icon-github-connected-height: 25px;
$icon-github-connected: $icon-github-connected-x $icon-github-connected-y $icon-github-connected-width $icon-github-connected-height;
$icon-github-grey-x: 0;
$icon-github-grey-y: -2610px;
$icon-github-grey-width: 17.5px;
$icon-github-grey-height: 17px;
$icon-github-grey: $icon-github-grey-x $icon-github-grey-y $icon-github-grey-width $icon-github-grey-height;
$icon-github-x: 0;
$icon-github-y: -2628px;
$icon-github-width: 25px;
$icon-github-height: 25px;
$icon-github: $icon-github-x $icon-github-y $icon-github-width $icon-github-height;
$icon-google-color-x: 0;
$icon-google-color-y: -2654px;
$icon-google-color-width: 19.5px;
$icon-google-color-height: 20px;
$icon-google-color: $icon-google-color-x $icon-google-color-y $icon-google-color-width $icon-google-color-height;
$icon-google-connected-x: 0;
$icon-google-connected-y: -2675px;
$icon-google-connected-width: 25px;
$icon-google-connected-height: 25px;
$icon-google-connected: $icon-google-connected-x $icon-google-connected-y $icon-google-connected-width $icon-google-connected-height;
$icon-google-grey-x: 0;
$icon-google-grey-y: -2701px;
$icon-google-grey-width: 17px;
$icon-google-grey-height: 17px;
$icon-google-grey: $icon-google-grey-x $icon-google-grey-y $icon-google-grey-width $icon-google-grey-height;
$icon-google-x: 0;
$icon-google-y: -2719px;
$icon-google-width: 25px;
$icon-google-height: 25px;
$icon-google: $icon-google-x $icon-google-y $icon-google-width $icon-google-height;
$icon-link-out-x: 0;
$icon-link-out-y: -2745px;
$icon-link-out-width: 10px;
$icon-link-out-height: 10px;
$icon-link-out: $icon-link-out-x $icon-link-out-y $icon-link-out-width $icon-link-out-height;
$icon-load-balancer-lrg-x: 0;
$icon-load-balancer-lrg-y: -2756px;
$icon-load-balancer-lrg-width: 51.5px;
$icon-load-balancer-lrg-height: 51px;
$icon-load-balancer-lrg: $icon-load-balancer-lrg-x $icon-load-balancer-lrg-y $icon-load-balancer-lrg-width $icon-load-balancer-lrg-height;
$icon-load-balancer-x: 0;
$icon-load-balancer-y: -2808px;
$icon-load-balancer-width: 34.5px;
$icon-load-balancer-height: 34px;
$icon-load-balancer: $icon-load-balancer-x $icon-load-balancer-y $icon-load-balancer-width $icon-load-balancer-height;
$icon-news-notification-x: 0;
$icon-news-notification-y: -2843px;
$icon-news-notification-width: 32px;
$icon-news-notification-height: 32px;
$icon-news-notification: $icon-news-notification-x $icon-news-notification-y $icon-news-notification-width $icon-news-notification-height;
$icon-storage-x: 0;
$icon-storage-y: -2876px;
$icon-storage-width: 32px;
$icon-storage-height: 32px;
$icon-storage: $icon-storage-x $icon-storage-y $icon-storage-width $icon-storage-height;
$icon-tag-lrg-x: 0;
$icon-tag-lrg-y: -2909px;
$icon-tag-lrg-width: 51px;
$icon-tag-lrg-height: 51px;
$icon-tag-lrg: $icon-tag-lrg-x $icon-tag-lrg-y $icon-tag-lrg-width $icon-tag-lrg-height;
$icon-tag-no-circle-x: 0;
$icon-tag-no-circle-y: -2961px;
$icon-tag-no-circle-width: 11.5px;
$icon-tag-no-circle-height: 12px;
$icon-tag-no-circle: $icon-tag-no-circle-x $icon-tag-no-circle-y $icon-tag-no-circle-width $icon-tag-no-circle-height;
$icon-tag-x: 0;
$icon-tag-y: -2974px;
$icon-tag-width: 33px;
$icon-tag-height: 33px;
$icon-tag: $icon-tag-x $icon-tag-y $icon-tag-width $icon-tag-height;
$icon-threshold-x: 0;
$icon-threshold-y: -3008px;
$icon-threshold-width: 33px;
$icon-threshold-height: 33px;
$icon-threshold: $icon-threshold-x $icon-threshold-y $icon-threshold-width $icon-threshold-height;
$icon-twitter-connected-x: 0;
$icon-twitter-connected-y: -3042px;
$icon-twitter-connected-width: 25px;
$icon-twitter-connected-height: 25px;
$icon-twitter-connected: $icon-twitter-connected-x $icon-twitter-connected-y $icon-twitter-connected-width $icon-twitter-connected-height;
$icon-twitter-grey-x: 0;
$icon-twitter-grey-y: -3068px;
$icon-twitter-grey-width: 17.5px;
$icon-twitter-grey-height: 15px;
$icon-twitter-grey: $icon-twitter-grey-x $icon-twitter-grey-y $icon-twitter-grey-width $icon-twitter-grey-height;
$icon-twitter-x: 0;
$icon-twitter-y: -3084px;
$icon-twitter-width: 25px;
$icon-twitter-height: 25px;
$icon-twitter: $icon-twitter-x $icon-twitter-y $icon-twitter-width $icon-twitter-height;
$icon-volume-snapshot-x: 0;
$icon-volume-snapshot-y: -3110px;
$icon-volume-snapshot-width: 33px;
$icon-volume-snapshot-height: 33px;
$icon-volume-snapshot: $icon-volume-snapshot-x $icon-volume-snapshot-y $icon-volume-snapshot-width $icon-volume-snapshot-height;
$icon-volume-x: 0;
$icon-volume-y: -3144px;
$icon-volume-width: 33px;
$icon-volume-height: 33px;
$icon-volume: $icon-volume-x $icon-volume-y $icon-volume-width $icon-volume-height;
$icon-paypal-gray-x: 0;
$icon-paypal-gray-y: -3178px;
$icon-paypal-gray-width: 67.5px;
$icon-paypal-gray-height: 18px;
$icon-paypal-gray: $icon-paypal-gray-x $icon-paypal-gray-y $icon-paypal-gray-width $icon-paypal-gray-height;
$icon-paypal-white-x: 0;
$icon-paypal-white-y: -3197px;
$icon-paypal-white-width: 67.5px;
$icon-paypal-white-height: 18px;
$icon-paypal-white: $icon-paypal-white-x $icon-paypal-white-y $icon-paypal-white-width $icon-paypal-white-height;
$icon-arrow-right-x: 0;
$icon-arrow-right-y: -3216px;
$icon-arrow-right-width: 17.5px;
$icon-arrow-right-height: 14px;
$icon-arrow-right: $icon-arrow-right-x $icon-arrow-right-y $icon-arrow-right-width $icon-arrow-right-height;
$icon-alert-x: 0;
$icon-alert-y: -3231px;
$icon-alert-width: 4px;
$icon-alert-height: 15px;
$icon-alert: $icon-alert-x $icon-alert-y $icon-alert-width $icon-alert-height;
$icon-notice-x: 0;
$icon-notice-y: -3247px;
$icon-notice-width: 15px;
$icon-notice-height: 15px;
$icon-notice: $icon-notice-x $icon-notice-y $icon-notice-width $icon-notice-height;

@mixin icon-sprite-image {
  background-image: url("/assets/images/sprites.png");
}
@mixin icon-sprite-size {
  background-size: 67.5px 3262px;
}
@mixin icon-sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin icon-sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin icon-sprite-height($sprite) {
  height: nth($sprite, 4);
}
@mixin icon-sprite($sprite) {
  @include icon-sprite-image;
  @include icon-sprite-size;
  @include icon-sprite-position($sprite);
  @include icon-sprite-width($sprite);
  @include icon-sprite-height($sprite);
}
