.aurora-status-notification {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue--brand;
  color: $white;

  .status-notification {
    @extend %font--semibold;

    overflow: hidden;
    padding: 20px 10px;
  }

  .status-notification-close {
    margin-top: 0.9rem;
    cursor: pointer;
  }

  .status-notification-date {
    font-size: 12px;
    opacity: 0.6;
    display: inline-block;
  }

  .status-notification-title {
    font-size: 20px;
  }

  .status-notification-update {
    @extend %font--regular;

    margin-top: 4px;
  }

  .status-notification-updates {
    position: relative;
    overflow: hidden;
    height: 0;

    @include transition(height, 0.35s, ease-in-out);

    .status-notification-updates-wrapper {
      position: absolute;
      top: 0;
      opacity: 0.0001;

      @include transition(opacity, 0.35s, linear);
    }

    &.expand {
      .status-notification-updates-wrapper {
        opacity: 0.999;
      }
    }
  }
}
