.tags-editor {
  ul {
    list-style: none;
  }

  padding: 6px 6px 50px;
  border: 1px solid $gray2;
  background-color: $white;
  border-radius: 2px;
  cursor: text;
  position: relative;
  min-height: 200px;
  overflow: auto;
}
