$flagWidth: 20px !default;
$flagPadding: 20px !default;

$arrowHeight: 4px !default;
$arrowWidth: 0 !default;
$arrowPadding: 25px !default;

$inputPadding: 20px !default;
$selectedFlagWidth: $flagWidth + (2 * $flagPadding) !default;
$selectedFlagArrowWidth: $flagWidth + $flagPadding + $arrowWidth + (2 * $arrowPadding) !default;
$selectedFlagDialCodeWidth: $selectedFlagWidth + $flagPadding !default;
$selectedFlagArrowDialCodeWidth: $selectedFlagArrowWidth + $flagPadding !default;

.telephone-input {
  .intl-tel-input {
    .flag-container {
      display: inherit;
      padding: 0;

      .selected-flag {
        border-right: 1px solid #dfdfdf;
        background: transparent;
        box-shadow: none;
        width: $selectedFlagWidth;
        padding: 0 0 0 $flagPadding;

        &:focus {
          outline: 0;
          border: 1px solid $blue;
          border-radius: 3px;
        }

        .iti-arrow {
          line-height: 3rem;
          right: $arrowPadding;
          border: none;
          position: relative;
          margin-right: 3px;

          &::before {
            font-family: buoycons;
            content: "\e609";
            font-size: 0.8rem;
            color: #cbcbcb;
          }
        }
      }
    }

    .ember-text-field {
      line-height: 3rem;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      background: #fff;
    }

    .country-list {
      padding: 0;
      overflow: auto;
      max-height: 330px;
      border-radius: 4px;
      box-shadow: none;
      border-color: $blue;

      .country {
        border-bottom: 1px solid $grey_2;
        text-align: left;
        float: left;
        width: 100%;
        padding: 0.25rem 1rem;

        .country-name {
          padding-left: 1rem;
        }

        &.highlight {
          cursor: pointer;
          background: #f5f9ff;
        }
      }

      .flag-box {
        margin-right: 0;
      }

      .divider {
        display: none;
      }
    }

    input,
    input[type=text],
    input[type=tel] {
      padding-right: $selectedFlagWidth;

      &:focus {
        border-color: $blue;
        outline: 0;
      }
    }

    &.allow-dropdown,
    &.separate-dial-code {
      input,
      input[type=text],
      input[type=tel] {
        padding-right: $inputPadding;
        padding-left: $selectedFlagArrowWidth + $inputPadding;
        margin-left: 0;
      }

      .flag-container:hover .selected-flag {
        background-color: inherit;
      }

      .selected-flag {
        width: $selectedFlagArrowWidth;
      }
    }

    &.separate-dial-code {
      .selected-dial-code {
        padding-left: $flagWidth + $flagPadding;
      }

      // .iti-sdc is for Separate Dial Code, with lengths from 2-5 because shortest is "+1", longest is "+1684"
      $charLength: 8px;

      @for $i from 2 through 5 {
        &.iti-sdc-#{$i} {
          input,
          input[type=text],
          input[type=tel] {
            padding-left: $selectedFlagDialCodeWidth + $inputPadding + ($i * $charLength);
          }

          .selected-flag {
            width: $selectedFlagDialCodeWidth + ($i * $charLength);
          }
        }

        &.allow-dropdown.iti-sdc-#{$i} {
          input,
          input[type=text],
          input[type=tel] {
            padding-left: $selectedFlagArrowDialCodeWidth + $inputPadding + ($i * $charLength);
          }

          .selected-flag {
            width: $selectedFlagArrowDialCodeWidth + ($i * $charLength);
          }
        }
      }
    }
  }
}

