.tooltip-wrap {
  display: inline-block;

  &.fullWidth {
    width: 100%;
  }

  &.is-disabled > * {
    opacity: 0.5;
  }
}

.Tooltip-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-wrap.multiline + .Tooltip .Tooltip-inner {
  white-space: normal;
  word-break: break-word;
}

.tooltip-wrap.overflow + .Tooltip .Tooltip-inner {
  max-width: none;
}
