$transition-right-complete-avatar-size: 53px;
$transition-right-complete-small-avatar-size: 21px;

.transition-context {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: $white;

  &.transition-appear {
    .transition-context-title {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .transition-context-left-avatar {
      animation: avatarLeftAppear 0.2s ease-in-out;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      opacity: 1;
    }

    .transition-context-right-avatar {
      animation: avatarRightAppear 0.2s ease-in-out;
      transform: scale3d(1, 1, 1) translate3d(200px, 0, 0);
      opacity: 1;
    }

    .transition-context-arrow {
      opacity: 1;
    }
  }

  &.transition-slide {
    .transition-context-left-avatar {
      animation: avatarLeftSlide 0.3s ease-in-out;
      transform: scale3d(0.8, 0.8, 0.8) translate3d(127px, 15px, 0);
      opacity: 1;
    }

    .transition-context-right-avatar {
      animation: avatarRightSlide 0.3s ease-in-out;

      .avatar-image {
        animation: avatarRightSlideImage 0.3s ease-in-out;
      }

      .initials {
        animation: avatarRightSlideInitials 0.3s ease-in-out;
      }

      .avatar-small {
        animation: avatarRightSlideAvatarSmall 0.3s ease-in-out;
      }
    }
  }

  &.transition-complete {
    .transition-context-right-avatar {
      width: $transition-right-complete-avatar-size;
      height: $transition-right-complete-avatar-size;
      transform: scale3d(1, 1, 1) translate3d(94px, 5px, 0);
      opacity: 1;

      .avatar-image {
        width: $transition-right-complete-avatar-size;
        height: $transition-right-complete-avatar-size;
      }

      .initials {
        font-size: 20px;
        line-height: $transition-right-complete-avatar-size;
      }

      .avatar-small {
        width: $transition-right-complete-small-avatar-size;
        height: $transition-right-complete-small-avatar-size;
        bottom: -2px;
        right: -2px;
      }
    }
  }
}

.transition-context-avatars {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -123px;
  width: 245px;
  z-index: 201;
  text-align: center;
}

.transition-context-title {
  @extend %font--regular;

  font-size: 1.1rem;
  color: $gray8;
  opacity: 0.001;
  transform: translate3d(0, -10px, 0);

  @include transition(all, 0.3s, ease-out);

  will-change: transform;
}

.transition-context-avatar {
  position: absolute;
  top: 60px;
  width: 38px;
  height: 38px;
  opacity: 0.001;
  z-index: 201;
  will-change: transform;

  .avatar-image {
    display: inline-table;
    width: 100%;
    height: 100%;
  }

  .avatar-small {
    bottom: -2px;
    right: -2px;
  }

  .avatar {
    border-radius: 50%;
  }
}

.transition-context-left-avatar {
  transform: translate3d(0, 0, 0);
}

.transition-context-right-avatar {
  transform: translate3d(200px, 0, 0);
}

.transition-context-arrow {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -8px;
  color: $gray6;
  opacity: 0.001;

  @include transition(opacity, 0.3s, ease-out);

  will-change: transform;
}

@keyframes avatarLeftAppear {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.001;
  }

  40% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(-10px, 5px, 0);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@keyframes avatarLeftSlide {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }

  100% {
    transform: scale3d(0.8, 0.8, 0.8) translate3d(127px, 15px, 0);
  }
}

@keyframes avatarRightAppear {
  0% {
    transform: translate3d(200px, 0, 0);
    opacity: 0.001;
  }

  40% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(190px, 5px, 0);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1) translate3d(200px, 0, 0);
  }
}

@keyframes avatarRightSlide {
  100% {
    transform: scale3d(1, 1, 1) translate3d(94px, 5px, 0);
    width: $transition-right-complete-avatar-size;
    height: $transition-right-complete-avatar-size;
  }
}

@keyframes avatarRightSlideInitials {
  100% {
    font-size: 20px;
    line-height: $transition-right-complete-avatar-size;
  }
}

@keyframes avatarRightSlideAvatarSmall {
  100% {
    width: $transition-right-complete-small-avatar-size;
    height: $transition-right-complete-small-avatar-size;
    bottom: -2px;
    right: -2px;
  }
}

@keyframes avatarRightSlideImage {
  100% {
    width: $transition-right-complete-avatar-size;
    height: $transition-right-complete-avatar-size;
  }
}
