.barriers-page {
  h2 {
    @extend %font--light;

    font-size: 2.4rem;
  }

  h3 {
    @extend %font--regular;

    font-size: 1.6rem;
  }

  .Box {
    width: 650px;
    margin: auto;
  }

  p {
    width: 440px;
    margin: auto;
  }
}
