.new-domain-form {
  .form--inline {
    font-size: 0;

    > div {
      font-size: 1rem;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 1em;

      .FloatLabel input {
        margin-bottom: 0;
      }

      h4 {
        color: inherit;
        margin-top: 5px;
      }

      &:not(:last-of-type) {
        padding-right: 18px;
      }

      &.hostname {
        width: 33%;
      }

      &.will-direct-to {
        width: 33%;
      }

      &.ttl-seconds {
        width: 17%;
      }

      &.priority {
        width: 13%;
      }

      &:last-of-type {
        width: 17%;
      }
    }

    .save-spinner {
      position: absolute;
      margin: 13px 8px;
    }
  }

  &.mx .form--inline > div {
    &.mail-providers-mail-server {
      width: 30%;
    }

    &.hostname {
      width: 25%;
    }

    &.ttl-seconds {
      width: 15%;
    }

    &.priority {
      width: 15%;
    }

    &:last-of-type {
      width: 15%;
    }
  }

  &.txt {
    margin-top: 98px;
    position: relative;

    .form--inline > div {
      &.value {
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
      }

      &:last-of-type {
        width: 22%;
      }

      &.ttl-seconds {
        width: 16%;
      }
    }
  }

  &.srv .form--inline > div {
    &.hostname,
    &.will-direct-to {
      width: 41.5%;
    }

    &.port {
      width: 17%;
    }

    &.priority,
    &.weight,
    &.ttl {
      width: 16%;
    }

    &:last-of-type {
      width: 22%;
    }
  }

  .aurora-auto-complete {
    .FloatLabel::before {
      display: none;
    }

    &.is-searching {
      .FloatLabel::after {
        display: none;
      }
    }
  }

  .hostname-preview {
    position: absolute;
    font-size: 1rem;
    left: 0.5em;
    bottom: 0;
    color: $gray7;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    .prefix {
      display: inline-block;
      max-width: calc(100% - 225px);
      vertical-align: bottom;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.txt .hostname-preview {
    left: 0;
    bottom: -17px;
  }

  &.mx .hostname-preview {
    bottom: 56px;
  }

  &.srv .hostname-preview {
    top: 145px;
    z-index: -1;
  }

  &.srv .priority {
    margin-top: 13px;
  }
}

.domain-header {
  a {
    display: block;
    margin-bottom: 8px;
    color: $gray6;

    &:hover {
      color: $gray8;
    }

    span {
      vertical-align: middle;
      margin: -1px 8px 0 0;
      display: inline-block;
    }
  }
}

.domain-alert.Alert--neutralGrey {
  .Alert-content {
    border: 1px solid $gray3;
    border-radius: 3px;

    h3 {
      @extend %font--semibold;
    }

    p a {
      margin-left: 7px;

      ::after {
        content: '';
        display: inline-block;
        margin: -1px 4px;
        vertical-align: middle;

        @include icon-sprite($icon-link-out);
      }
    }
  }
}

.domainForm--mx-gmail {
  position: relative;
  padding: 0 2rem;
  margin-top: 6px;

  .Loader--basic {
    position: absolute;
    right: 5px;
    top: 13px;
  }
}
