.dropletCreate {
  .Hint {
    position: relative;
    top: -2px;
  }

  li.tab-admin-images {
    float: right;

    a,
    a:focus {
      margin-right: 0;
      padding-right: 0;
      border: 0 none;
      outline: none;

      &::before,
      &:hover::before,
      &:focus::before {
        background: transparent;
      }
    }

    &.is-active {
      a {
        &:hover,
        &:focus {
          border: 0 none;
        }
      }
    }
  }

  .Tabs {
    .has-selected-image,
    .has-selected-size {
      a {
        color: $blue--brand;
      }
    }
  }

  .Tabs-pane {
    min-height: 180px;

    @import 'droplet/create/images/distros';
    @import 'droplet/create/images/images';

    .Loader {
      left: 0;
      top: 10px;
    }
  }

  .Tabs-content--box {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .textarea-user-data {
    @extend %font--regular;

    float: left;
    margin-top: 15px;
    height: 386px;
    padding: 15px;
    font-family: monospace, serif;
    margin-bottom: 0;
  }

  .ssh-save-spinner {
    position: absolute;
    z-index: 1;
    margin: 13px 60px;
    left: 50%;
  }

  .ssh-key-row {
    button {
      height: 48px;
    }

    .ssh-key-tooltip {
      display: inline-block;
      max-width: 100%;

      + .Tooltip .Tooltip-inner {
        max-width: 400px;
      }
    }

    .ssh-key-check {
      line-height: 48px;

      input + span {
        margin-top: 13px;
      }

      label {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }
    }

    .Pagination {
      margin-top: 0;
    }
  }

  .how-to {
    display: block;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .ssh-key-modal {
    .buttons-col {
      margin-top: -1rem;
    }
  }

  .hostnames {
    padding-bottom: 1rem;
  }

  .errors {
    @extend %font--bold;

    text-align: center;
    color: $red--brand;
    line-height: 30px;
    border-color: $red--brand;
    padding: 0.7rem 0;
  }

  .dropletLimit-image {
    width: 168px;
  }

  .volumes-copy {
    max-width: 700px;
    color: $gray8;
  }

  .attach-volume-button {
    min-width: 200px;
  }

  .volume-list {
    > li .Resource {
      border: 1px solid $gray4;
      padding: 12px 8px 12px 12px;
      border-radius: 3px;
      box-sizing: content-box;

      .Resource-close {
        right: 10px;
      }
    }

    .ellipsis-text .tooltip-wrap {
      border-right: 0;
    }
  }

  .tags-editor-component {
    padding-bottom: 16px;

    .tags-editor {
      min-height: 44px;
      padding: 6px 6px 0;
      position: static;
      border-color: $gray4;

      .token-input input {
        text-indent: 6px;
      }

      .token-item:last-of-type {
        margin-right: 0;
      }

      .search-results-box {
        z-index: 1;

        .result-list {
          position: relative;
        }
      }
    }
  }
}
