.load-balancers-index {
  .lb-create-container {
    margin-top: -0.5rem;
  }
}

.load-balancers-list {
  .aurora-th {
    padding-left: 0;
  }

  .lb-name {
    width: 31%;
    padding-right: 32px;
  }

  .lb-status {
    width: 12%;
  }

  .lb-ip {
    width: 17.5%;
  }

  .lb-healthy-count,
  .lb-requests-per-sec {
    width: 9%;
  }

  .lb-created-at {
    width: 13%;
  }

  .lb-actions {
    width: 8.5%;
  }

  .Resource-title {
    width: 100%;
  }

  .lb-status,
  .lb-healthy-count {
    position: relative;
  }

  .create-error,
  .loading-indicator {
    position: absolute;
    top: 0;
    width: 585px;
    background: $white;

    // Small hack to cover up the offset icon in the .lb-status column. Note that
    // we can't simply hide .lb-status, because we need it to "fade in" when the
    // loading indicator disappears.
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: -10px;
      left: -23px;
      width: 23px;
      background: white;
    }
  }

  .create-error {
    @extend %font--bold;

    color: $red--brand;
    text-decoration: none;
    padding-top: 24px;
    z-index: 20;

    &:hover {
      text-decoration: underline;
    }
  }

  .welcome-message {
    position: absolute;
    top: 0;
    width: 173px;
    background: $white;
    padding-top: 24px;
    z-index: 10;
  }

  .loading-indicator {
    padding-top: 30px;
    opacity: 0.999;
    transition: opacity 0.3s ease;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    z-index: 30;

    &.load-balancer-loaded {
      opacity: 0.01;
    }
  }

  .lb-metric-tooltip {
    position: relative;
    left: -10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .menu-dropdown {
    z-index: 50;
  }
}

.load-balancers-empty {
  .load-balancer-empty-image {
    width: 320px;
    height: 300px;
    margin-bottom: -2rem;
    margin-top: -3rem;
  }
}

.load-balancers-create {
  .lb-pricing {
    float: right;
  }

  .lb-pricing-interval {
    color: $gray6;
  }

  .lb-target-droplet {
    position: relative;
    border-bottom: 1px solid $gray3;
    padding: 0.5em 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .lb-target-droplet-remove {
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
    color: $gray5;
    padding: 0.7em 0.5em;
  }

  .lb-region-disabled-tooltip {
    width: 100%;
  }

  .lb-region-select {
    .Tooltip {
      min-width: 200px;
    }
  }

  .lb-advanced {
    padding: 1.25rem;
    border: 2px solid $gray2;
  }

  .lb-advanced-collapsed {
    display: flex;
  }

  .lb-advanced-expanded {
    padding: 2rem;
  }

  .lb-advanced-item {
    min-width: 150px;
    max-width: 250px;
    margin-right: 20px;
  }

  .lb-advanced-last {
    margin-left: auto;
    margin-right: 0;
  }

  .overflow-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.lb-create-certificate {
  .buttons-col {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
  }

  textarea {
    min-height: 5rem;
  }
}

.lb-graphs {
  .lb-graph-outer {
    position: relative;
  }

  .lb-graph {
    border: 1px solid $gray4;
    border-radius: 3px;
    padding: 20px 0 12px 20px;
  }

  .aurora-droplet-graph {
    margin-left: -20px;
  }

  .chart-empty {
    left: 0;
    pointer-events: none;
  }

  .Tooltip {
    text-transform: none;
    letter-spacing: normal;
  }
}

.lb-graphs-tooltip {
  pointer-events: none;
}

.load-balancers-show {
  .lb-stats {
    display: flex;
  }

  .lb-stats-item {
    border-right: 1px solid $gray4;
    padding: 0 20px;

    &:first-child {
      width: 20%;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .lb-stats-count {
    line-height: 1;
    margin-bottom: 0;
  }
}

.lb-droplets-loading {
  .Loader {
    margin: 0 auto;
  }
}

.load-balancer-header {
  .can-edit {
    cursor: pointer;
  }

  .Resource {
    max-width: 600px;
  }

  // Adapted from
  // https://github.internal.digitalocean.com/digitalocean/aurora/blob/91b42679feb7ba9157909bab4c804c260e060597/app/styles/pages/_droplet.scss#L94-L122
  .Resource-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: -3px 0 0;
  }

  .Resource-description {
    margin-top: 4px;
    font-size: 1rem;
    overflow: visible;
  }

  .Resource-meta {
    padding-left: 65px;
  }

  .Resource.isEditing {
    .form--inline .FloatLabel input {
      height: 31px;
      padding: 3px !important;
      margin: -2px 0 -1px -4px;
      font-size: 1.5rem;
    }

    .form--inline button {
      width: 28px;
      height: 28px;
      margin-left: 2px;
    }
  }

  .click-to-copy {
    display: inline-block;
  }
}

.lb-settings {
  margin-top: -1.5rem;

  .lb-save-disabled {
    color: $gray6;
    pointer-events: none;
    cursor: not-allowed;
  }

  .lb-destroy[disabled]:hover {
    border-color: $gray2;
  }

  .lb-settings-section {
    display: flex;
    padding-top: 2.4rem;
    margin-bottom: 0;
  }

  .lb-settings-heading {
    min-width: 24%;

    h2 {
      color: $gray8;
      font-size: 1em;
      font-weight: map-get($font-weight, semibold);
    }
  }

  .lb-settings-content {
    flex-grow: 1;
    max-width: 76%;
  }

  .lb-settings-edit {
    align-self: center;
    margin-top: -0.9rem;
  }

  .lb-settings-destroy {
    padding-right: 25%;
  }

  .lb-settings-hint {
    position: relative;
    top: -1px;
    margin-left: 0.5em;
  }
}

.lb-breadcrumb {
  .lb-breadcrumb-link {
    display: block;
    color: $gray6;

    &:hover {
      color: $gray8;
    }
  }

  .lb-breadcrumb-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 1px 8px 0 0;
  }
}

.lb-settings,
.load-balancers-create {
  .health-check-field {
    display: inline-block;
    width: 10rem;
    vertical-align: top;
    margin-right: 0.75rem;
  }

  .lb-settings-algorithm,
  .lb-settings-https-redirect {
    overflow: hidden;
  }

  .lb-hint,
  .lb-heading-hint {
    position: relative;
    top: -2px;
  }

  .lb-label-hint {
    margin-left: 6px;
  }

  .lb-pricing-hint {
    top: -6px;
    margin-right: 0.35rem;
  }
}

.lb-target-selector-container {
  display: flex;
}

.lb-status-icon,
.lb-status-label {
  position: relative;
  left: -22px;
}

.lb-status-icon {
  display: inline-block;

  &.lb-status-healthy {
    width: 9px;
    height: 9px;
    background: $green--brand;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 1px;
  }

  &.lb-status-issue {
    width: 0.5rem;
    height: 0.5rem;
    background: $yellow_hover;
    margin-right: 4px;
    margin-left: 6px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &.lb-status-down {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 0.6rem solid $red--brand;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    margin-right: 6px;
  }
}
