.networkingPage {
  .floating_ips__table {
    .ip {
      padding-right: 35px;
      white-space: nowrap;
      position: relative;
      width: 260px;
    }

    .autocomplete-visible {
      padding-top: 5px !important; /* buoy/cloud styles */
    }

    .action {
      width: 160px;
    }

    .Resource-description {
      .Icon--arrowLongRight {
        display: none;
      }
    }

    .Icon--arrowLongRight {
      position: absolute;
      opacity: 0.3;
      top: 24px;
      right: 65px;
    }
  }

  .floating-ip-upgrade-droplet {
    .instructions {
      pre.inline {
        display: inline;
        padding: 1px 5px;
      }
    }
  }

  .createDomainRecordButton {
    position: relative;

    .Loader--basic {
      position: absolute;
      top: 14px;
      right: 11px;
    }
  }

  .assignFloatingIpButton {
    position: relative;

    .Loader--basic {
      position: absolute;
      top: 14px;
      right: 97px;
    }
  }

  .datacenter-modal {
    .Resource-title {
      margin-bottom: 0;
      line-height: 1.8;
    }

    .Button--blue {
      position: relative;
    }

    .Loader--basic {
      position: absolute;
      top: 14px;
      right: 27px;
    }
  }
}
