#content table.notification-listing,
table.notification-listing {
  table-layout: fixed;
  width: 100%;

  thead tr th.aurora-th {
    &:first-child {
      padding-left: 15px;
    }

    &.type {
      width: 8%;
    }

    &.subject {
      width: 60%;
    }
  }

  tbody {
    td {
      &:last-child {
        padding-right: 15px;
      }

      &:first-child {
        padding-left: 15px;
      }
    }

    tr.notification-row {
      background-color: $blue--light-1;
      cursor: pointer;
      border-color: $gray2;

      &.acknowledged {
        background-color: transparent;

        &:hover {
          background-color: $blue--light-1;
        }
      }

      vertical-align: top;

      &:last-child {
        border-bottom: 2px solid $gray2;

        .body {
          min-height: 24px;
        }
      }

      .type {
        width: 8%;
        padding-bottom: 20px;
        padding-top: 20px;
        vertical-align: inherit;

        div {
          background-color: $dark_icon_grey;
          border-radius: 50%;
        }
      }

      .subject {
        @extend %font--semibold;

        width: 40%;
        padding: 15px 35px 15px 0 !important; //cloud
        line-height: 1.5;

        a {
          display: inline-block;
        }

        .body {
          @extend %font--regular;

          color: $gray8;
          position: relative;
          transition: height 0.25s ease;
          overflow: hidden;

          .blurb {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            display: block;
            opacity: 0.999;
            transition: opacity 0.15s linear;
          }

          .full {
            opacity: 0.0001;
            transition: opacity 0.25s linear;
            position: absolute;
            top: 0;

            p {
              line-height: inherit;
              font-size: inherit;
              word-break: normal;
            }
          }

          a {
            &:hover {
              color: $blue--brand_hover;
            }
          }

          &.is-showing {
            .full {
              opacity: 0.999;
              pointer-events: auto;
            }

            .blurb {
              opacity: 0.0001;
              pointer-events: none;
              transition: opacity 0.35s linear;
            }
          }
        }
      }

      .created_at {
        width: 20%;
        white-space: nowrap;
        padding-top: 27px;

        time {
          display: inline-block;
          padding: 0;
        }
      }

      .action {
        width: 10%;
        opacity: 0;
        padding-top: 27px;
        text-align: right;

        span {
          display: inline-block;
          white-space: nowrap;
          border-width: 15px 30px;

          span {
            margin: 4px 8px;
            font-size: 12px;
          }
        }
      }

      &:hover {
        background-color: $blue--light-1;

        .action {
          opacity: initial;
        }
      }
    }
  }
}

.EmptyState-image.notification-image {
  height: 134px;
}
