.object-store {
  .object--actionBar {
    a {
      margin-left: 10px;
    }
  }

  table {
    th.name {
      width: 65%;
    }

    th.access-name,
    th.secret {
      width: 35%;
    }

    th.createdAt {
      width: 15%;
    }

    &.table-header--grey {
      box-shadow: none;
      border: 2px solid $grey_2;

      th:first-child,
      td:first-child {
        padding-left: 1rem;
      }

      thead {
        tr {
          padding: 0.5rem;
          background: $grey_1;
          color: $grey_9;

          th {
            padding: 7px 0;
          }
        }
      }
    }

    &.table--compact.table-files {
      transform: translateZ(0);
      backface-visibility: hidden;
      margin-bottom: 1.5rem;

      tbody {
        > tr {
          padding: 0.5rem;
          cursor: pointer;

          &.new-file {
            background: #f4fff4;
          }

          &.selected,
          &:hover {
            background: $blue--light-1;
          }

          .file-info {
            position: absolute;
            margin: 3px 0 0 -30px;
            background: #fff;
            border: 1px solid $grey_3;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            z-index: 1;
            border-radius: 3px;
            line-height: 1.5;

            .Loader--basic {
              width: 17px;
              height: 17px;
              position: absolute;
              margin-top: 3px;
            }

            &::before {
              content: '';
              position: absolute;
              height: 12px;
              width: 12px;
              background: #fff;
              border: 1px solid $grey_3;
              border-width: 1px 0 0 1px;
              transform: translate(-50%, -50%) rotate(45deg);
              top: 0;
              left: 38px;
            }

            &.loading {
              width: 354px;
              padding: 10px 20px;
            }

            table {
              width: auto;
              min-width: 350px;
              box-shadow: none;
              margin-bottom: 5px;

              tr {
                border-top: none;

                td {
                  padding: 6px 5px 6px 15px;
                }

                td:first-of-type {
                  width: 130px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                td:last-of-type {
                  padding: 6px 15px 6px 5px;
                }
              }

              tr:first-of-type {
                &:last-of-type td {
                  padding-bottom: 0;
                }

                td {
                  border-bottom: 1px solid $grey_4;
                  line-height: 2.1;
                }
              }

              td:first-of-type {
                @extend %font--semibold;
              }
            }
          }

          td {
            padding: 5px 0.5rem;
            position: relative;

            &:first-of-type {
              line-height: 0;

              .Resource {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;

                .Resource-title {
                  width: 100%;
                }
              }
            }

            .aurora-dropdown-menu.is-disabled {
              .dropdown-title,
              .dropdown-title .Icon--arrowDown {
                color: $grey_7;
              }
            }

            .aurora-dropdown-menu {
              .acl-button-spinner {
                position: absolute;
                margin: -34px -85px;
              }

              .menu-dropdown li {
                min-width: 193px;
              }

              .dropdown-view,
              .menu-dropdown.hasView {
                width: 275px;
              }

              .dropdown-view p.radio {
                margin-bottom: 1em;
                text-align: left;

                .public-radio {
                  margin-left: 25px;
                }
              }
            }
          }
        }
      }

      .Resource {
        display: inline-block;

        &.isEditing {
          width: 70%;

          .form--inline button {
            float: none;
          }
        }

        + .Loader--basic {
          position: absolute;
          height: 17px;
          width: 17px;
          margin: -9px 0 0 7px;
          top: 50%;
        }

        .Resource-title {
          font-size: 1.1rem;
          line-height: 2.4rem;
          margin: -10px 0;
          height: 100%;

          .form--inline {
            margin-top: 8px;
          }
        }

        &[data-type="folder"] .Resource-title {
          color: $blue;

          @extend %font--semibold;
        }

        .Resource-image {
          margin-top: -12px;
        }

        .Resource-meta {
          padding: 10px 0 0 40px;
          margin-top: auto;
        }
      }
    }
  }

  .empty-table {
    border: 2px solid $grey_2;
    margin: -24px 2px;
    border-width: 0 2px 2px;
    padding: 40px 0;
    text-align: center;

    h3,
    a {
      @extend %font--bold;
    }
  }

  .empty {
    img {
      width: 190px;
      margin-bottom: 15px;
    }

    .Button {
      width: 310px;
    }
  }

  .pagination-legend {
    position: absolute;
    right: 7px;
    margin-top: 13px;
  }

  .infinite-loader {
    position: absolute;
    left: 50%;
    bottom: -5px;
    color: $blue;
    transform: translate(-50%, 100%);

    @extend %font--semibold;
  }

  .sticky-header {
    padding: 0 14px;
    background: $grey_1;
    color: $grey_9;
    border: 2px solid $grey_2;
    margin-left: 2px;
    font-size: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0.001;
    transform: translate3d(calc(-100% + ((1000px - 100vw) / 2)), 0, 0);
    backface-visibility: hidden;

    &.sticky {
      opacity: 1;
    }

    .aurora-th {
      display: inline-block;
      font-size: 1rem;
      vertical-align: middle;
      padding-left: 0;

      @extend %font--semibold;

      &:first-of-type {
        padding-left: 1px;
      }
    }
  }

  .action-header {
    background: #fff;
    padding-top: 10px;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    z-index: 2;
    top: 0;

    &.sticky {
      position: fixed;
    }

    .Button.dropdown-title {
      color: inherit;
      border-width: 0;

      .Icon--arrowDown {
        color: inherit;
      }

      &.is-disabled {
        color: $grey_6;
      }

      + .menu-dropdown {
        margin-top: 11px;
      }
    }
  }

  .breadCrumb-header {
    padding: 0.5rem 1rem;
    margin: 0 2px;
    position: relative;
    border: 2px solid $grey_2;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    white-space: nowrap;
    overflow: auto;
    background: $white;

    .icon {
      position: absolute;
      margin-top: 3px;

      @include icon-sprite($icon-breadcrumb-bucket);
    }

    .object-crumbs {
      margin-left: 1.5rem;

      .Loader--basic {
        position: absolute;
        height: 15px;
        width: 15px;
        margin: 5px -3px;
      }

      .path-crumb {
        cursor: pointer;
        color: $grey_6;

        @extend %font--semibold;

        &.Icon--arrowRight::before {
          padding-right: 5px;
          font-size: 10px;
          color: $grey_5;
        }

        &:last-of-type {
          pointer-events: none;
          padding-right: 10px;
        }
      }
    }
  }

  form {
    .region-select {
      width: 100%;
      border: 1px solid $gray3;
      height: 48px;
      line-height: 48px;
      padding: 0 15px;
      position: relative;
      border-radius: 3px;
      transition: border-color 0.2s;

      .Icon--arrowDown {
        color: $gray7;
        font-size: 11px;
        position: absolute;
        right: 15px;

        &::before {
          line-height: 46px;
        }
      }

      .items {
        opacity: 0;
        position: absolute;
        background: $white;
        bottom: calc(-100% - 2px);
        height: calc(100% + 2px);
        color: $gray6;
        left: -1px;
        right: -1px;
        padding: inherit;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid $gray3;
        border-top: 1px solid transparent;
        transition: border-color 0.2s, opacity 0.2s;
      }

      &:focus {
        outline: none;
        border-color: $blue--brand;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .items {
          opacity: 1;
          border-color: $blue--brand;
        }
      }
    }

    .name-preview {
      position: absolute;
      width: 200%;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $gray7;
    }

    > div > .columns {
      > strong {
        @extend %font--regular;

        font-size: 1.6rem;
      }

      padding-left: 0;
      padding-right: 1.5em;
    }
  }

  &.show-page {
    .columns > .columns {
      padding: 0 !important;
    }

    > .columns strong {
      @extend %font--regular;

      font-size: 1.7rem;
    }

    table {
      th.size {
        width: 15%;
      }

      th.secret {
        width: 35%;
      }

      th.last_modified,
      th.created_at {
        width: 15%;
      }

      th.action {
        width: 20%;
      }

      td .click-to-copy-text {
        display: inline-block;
        vertical-align: top;
        max-width: calc(100% - 50px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td.regenerate {
        color: $red--brand;
        cursor: pointer;

        &.is-disabled {
          opacity: 0.4;
        }
      }

      td.action-td {
        text-align: right;
        padding-right: 1rem;
      }
    }

    .destroy-spinner {
      position: absolute;
      left: 155px;
      margin-top: 30px;
    }

    .Resource-meta {
      padding-left: 65px;
      margin-top: -4px;
    }

    .Resource-title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin: -3px 0 0;
    }

    .Resource-description {
      margin-top: 4px;
      font-size: 1rem;
      overflow: visible;
    }

    .inputs-wrap {
      transition: opacity 0.2s;
      opacity: 1;

      &.is-disabled {
        opacity: 0.4;
      }
    }

    .aclSpinner,
    .corsSpinner {
      position: absolute;
    }

    .aclSpinner {
      margin: 1px 215px;
    }

    .corsSpinner {
      margin: -23px 128px;
    }
  }

  .save-spinner {
    position: absolute;
    left: calc(50% + 70px);
    margin-top: 14px;
  }

  .Button .Icon--arrowDown {
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
  }

  .currently-uploading {
    position: fixed;
    top: calc(100% - 200px);
    border: 1px solid $gray3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);
    left: calc(50% + 200px);
    width: 350px;
    background: #fff;
    z-index: 2;
    font-size: 0.95rem;
    border-radius: 2px;

    .header {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid $gray3;

      @extend %font--semibold;

      .Icon--arrowDown {
        font-size: 10px;
        margin: 10px;
      }
    }

    .close-btn {
      font-size: 12px;
      position: absolute;
      top: 11px;
      right: 11px;
      cursor: pointer;
    }

    .files {
      max-height: 150px;
      overflow: auto;

      > div {
        line-height: 1.4;
        border-top: 1px solid $gray3;
        padding: 10px;
        font-size: 0.9rem;
        white-space: nowrap;

        &:first-of-type {
          border-top: none;
        }

        .resource-icon {
          height: 24px;
          display: inline-block;
          transform: scale(0.8);
          vertical-align: bottom;
          margin-right: 5px;
        }

        .Icon--close,
        .Icon--check {
          color: $red;
          margin: 9px 2px 0;
          display: inline-block;
          font-size: 0.65rem;
        }

        .Icon--check {
          margin-top: 8px;
          font-size: 0.75rem;
          color: $green;
        }

        .Loader--basic {
          height: 15px;
          width: 15px;
          margin-top: 5px;
        }
      }
    }

    &.collapsed .files {
      display: none;
    }
  }

  @import '../components/object-store-modals';
}

//uggh ugly prod/local css override todo: fix this (possibly related to dynamic doctype insert in dev)
.cloud-container .object-store table.table--compact.table-files .Resource .Resource-title .form--inline {
  margin-top: 0;
}
