.firewall {
  .tag-droplets {
    border-top: 0;

    > td {
      padding-top: 0;
    }
  }
}

.firewalls-header {
  .Resource-meta {
    padding-left: 65px;
  }

  .Resource-title {
    font-size: 1.5rem;
  }
}

.fw-target-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddDropletsContainer {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.firewalls-empty-state {
  .EmptyState-image {
    height: 300px;
  }
}
