<div class="lb-help-links">
  <div class="lb-help-item">
    <a
      href="https://www.digitalocean.com/community/tutorials/an-introduction-to-digitalocean-load-balancers"
      target="_blank"
      rel="noopener noreferrer">
      Overview
    </a>
    <p>Discover Load Balancers, and what you can do with them.</p>
  </div>
  <div class="lb-help-item">
    <a
      href="https://developers.digitalocean.com/documentation/v2/#load-balancers"
      target="_blank"
      rel="noopener noreferrer">
      API docs
    </a>
    <p>Use Load Balancers via the DigitalOcean API.</p>
  </div>
  <div class="lb-help-item">
    <a
      href="http://do.co/LoadBalancerFeedback"
      target="_blank"
      rel="noopener noreferrer">
      Tell us what you think
    </a>
    <p>Submit your feedback on Load Balancers.</p>
  </div>
</div>
