<div class="object-store row show-page">
  <div class="columns small-12">
    {{resource-item item=bucket wide=true}}
    <ul class="Tabs u-mb-4 droplet-tabs u-mt-5" role="tablist">
      {{#link-to "spaces.show.index" tagName="li" activeClass="is-active"}}<a>Files</a>{{/link-to}}
      {{#link-to "spaces.show.access" tagName="li" activeClass="is-active"}}<a>Access</a>{{/link-to}}
      {{#link-to "spaces.show.destroy" tagName="li" activeClass="is-active"}}<a>Destroy</a>{{/link-to}}
    </ul>
    {{outlet}}
  </div>
  {{partial "spaces/partials/feedback"}}
</div>
