.support-overlay {
  /* from lifeboat structure.scss  */
  background: $white;
  color: $gray9;

  h1 {
    word-break: normal;
  }

  .page-toggle {
    display: inline-block;
    border: none;
    margin-top: 1rem;
  }

  .borderRight {
    border-right: 1px solid $gray4;
  }

  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $gray4;
  }

  header {
    display: block;
    padding: 0;
    position: relative;

    &.Support--hasSuggestions {
      padding-bottom: 3em;
    }

    input[type='text'] {
      @extend %font--light;

      padding: 1.1rem 1.4rem;
      height: auto;
      font-size: 1.5rem;
      color: $gray8;
      margin: 0;
    }
  }

  .inner-container {
    width: 1000px;
    margin: 0 auto;

    @media screen and (max-width: 1280px) {
      width: 100%;
      min-width: 960px;
      padding: 0 32px;
      box-sizing: border-box;

      & > ul {
        margin-right: 48px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  //Styles for help articles
  .current-article {
    h1 {
      @extend %font--light;

      font-size: 36px;
      line-height: 46px;
      margin-bottom: 40px;
    }

    h2 {
      @extend %font--regular;

      font-size: 28px;
    }

    h3 {
      @extend %font--semibold;

      font-size: 22px;
    }

    h4 {
      @extend %font--semibold;

      font-size: 18px;
      text-transform: none;
      color: $gray9;
      letter-spacing: 0;
    }

    a {
      text-decoration: none;
      border-bottom: 0;
    }

    p {
      margin-bottom: 1.5rem;
      line-height: 1.75rem;
    }

    pre {
      margin-bottom: 1.5rem;

      code {
        border: none;
        padding: 0;
        white-space: pre;

        ul {
          padding: 0;
          margin: 0;

          li {
            margin: 0;
            list-style: none;
          }
        }
      }
    }

    table {
      margin-bottom: 30px;
    }

    hr {
      display: none;
    }

    ul {
      padding-left: 40px;
      margin: 30px 0;

      li {
        list-style: disc;
        margin-bottom: 20px;
      }
    }

    .tutorialInfo {
      border: 1px solid $gray4;
      border-radius: 3px;

      .disclaimerCopy {
        padding: 0 20px;
        display: inline-block;
        height: 65px;
        line-height: 65px;

        a {
          border: none;
        }
      }

      .ccLic {
        float: right;
        padding: 0 17px;
        border-left: 1px solid $gray4;
        height: 65px;

        img {
          margin-top: 17px;
        }
      }
    }
  }

  .articles-container {
    border-top: 1px solid $gray3;
    margin-top: 24px;
    padding-top: 16px;

    &:focus {
      outline: none;

      li.selected {
        border-left-color: $blue--brand;
      }
    }
  }

  .withLoader {
    position: relative;
    display: block;

    .Loader--basic {
      position: absolute;
      right: 22px;
      top: 22px;
    }
  }

  .moreHelp {
    display: block;
    color: $gray7;

    a {
      border: none;
    }
  }

  .showMoreArticles {
    border: none;
    display: block;
    padding-left: 20px;
    //Down arrow icon
    span {
      font-size: 0.6rem;
      top: -1px;
      position: relative;
      right: -4px;
    }
  }

  .articles {
    li {
      margin: 20px 0;
      padding: 3px 0 3px 20px;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      &:first-of-type {
        margin-top: 0;
      }

      h3 {
        @extend %font--semibold;

        word-break: normal;
        font-size: 16px;
        color: $gray7;
        line-height: 1.35em;
        margin: 0 0 7px;
      }

      & > div {
        @extend %font--regular;

        color: $gray7;
        font-size: 14px;
        line-height: 1.3em;

        & > p:first-of-type {
          margin-top: 0;
        }
      }

      &.selected,
      &:hover {
        h3,
        & > div {
          color: $gray9;
        }
      }

      &:hover {
        &::before {
          content: ' ';
          width: 2px;
          background-color: $gray3;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }

      &.selected {
        &::before {
          content: ' ';
          width: 2px;
          background-color: $blue--brand;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}
