{{input
  type=inputType
  required=required
  pattern=pattern
  class=inputClasses
  value=value
  spellcheck=false
  placeholder=placeholder
  maxlength=maxlength
  autofocus=autofocus
  autocomplete=autocomplete
  enter="onEnter"
  disabled=disabled}}
<label for="" class="FloatLabel-label">{{placeholder}}</label>
{{#if prefix}}
  <span class="FloatLabel-prefix">{{prefix}}</span>
{{/if}}
{{#if postfixTooltip}}
  {{tool-tip
    title=postfixTooltip
    class='Hint FloatLabel-postfixTooltip'
    multiline=true
  }}
{{/if}}
