.droplet_graphs {
  min-height: 860px; // Height of view with three old charts. For state when loader replaces charts.

  // Position full page loader on center of page
  .Loader {
    left: calc(50% - 50px);
    position: absolute;
    top: 8rem;
  }

  // Time range selector
  .select-wrapper {
    position: relative;
    z-index: 2;
  }

  .select {
    width: 8rem;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }

  // When agent is installed remove .Box styles
  &.agent-installed {
    border: none;
    padding: 0;
  }

  .install-agent-link {
    display: inline-block;
  }

  // New chart component list
  .droplet-show-chart-list {
    border: 1px solid $gray4;
    border-radius: 3px;
    margin-bottom: 4rem;
    padding: 0;
  }

  // New chart component
  .droplet-show-chart-container {
    border-bottom: 1px solid $gray4;
    list-style: none;
    padding: 1rem;
    padding-bottom: 1.4rem;
    width: 50%;
    float: left;

    &:nth-child(even) {
      box-shadow: -1px 0 $gray4;
    }

    &:nth-child(odd) {
      box-shadow: inset -1px 0 $gray4;
    }

    &:last-child {
      border-bottom: none;
    }

    // it's in last row but on the left
    &:nth-last-child(2):nth-child(odd) {
      border-bottom: none;
    }

    &.per-process {
      .Tabs {
        li {
          margin-right: 14px;
          height: 44px;
        }
      }

      tr {
        padding: 0;
        border: none;
      }

      td {
        padding: 2px 4px;
        font-size: 0.875rem;
        white-space: nowrap;
      }

      td:first-child {
        max-width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 0;
        width: 55%;
      }

      td:nth-of-type(2) {
        font-feature-settings: 'tnum';
        font-size: 0.8rem;
        padding-right: 0;
        text-align: right;
        width: 20%;
      }

      .per-process-inline-bar-chart {
        padding-right: 0;
      }
    }
  }

  h3 {
    margin-bottom: 0;

    // Position metric helper icon in the h3
    .tooltip-wrap {
      position: relative;
      top: -0.15rem;
    }
  }

  // Old graph component
  h2 {
    background-color: $white;
    padding-top: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .droplet-graph {
    margin-left: -1rem;
    margin-bottom: 0.5rem;

    &.c3-empty {
      margin: 0 -3px 0 4px;
    }

    //--- Three graphs on page
    //offset focus line for 1st graph
    &:nth-of-type(2):nth-last-of-type(3) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 4px;
      transform: scale(1, 4.58);
    }
    //offset focus line for 2nd graph
    &:nth-of-type(3):nth-last-of-type(2) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 2);
      transform: scale(1, 4.58);
    }
    //offset focus line for 3rd graph
    &:nth-of-type(4):nth-last-of-type(1) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 158px;
      transform: scale(1, 4.58);
    }

    //--- Four graphs on page
    //offset focus line for 1st graph
    &:nth-of-type(2):nth-last-of-type(4) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 4px;
      transform: scale(1, 6.4);
    }
    //offset focus line for 2nd graph
    &:nth-of-type(3):nth-last-of-type(3) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 3 + 3px);
      transform: scale(1, 6.6);
    }
    //offset focus line for 3rd graph
    &:nth-of-type(4):nth-last-of-type(2) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 3 * 2 + 1px);
      transform: scale(1, 6.6);
    }
    //offset focus line for 4th graph
    &:nth-of-type(5):nth-last-of-type(1) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 158px;
      transform: scale(1, 6.6);
    }

    //--- Five graphs on page
    //offset focus line for 1st graph
    &:nth-of-type(2):nth-last-of-type(5) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 5px;
      transform: scale(1, 8.2);
    }
    //offset focus line for 2nd graph
    &:nth-of-type(3):nth-last-of-type(4) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 4 + 4px);
      transform: scale(1, 8.2);
    }
    //offset focus line for 3rd graph
    &:nth-of-type(4):nth-last-of-type(3) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 4 * 2 + 2px);
      transform: scale(1, 8.3);
    }
    //offset focus line for 4th graph
    &:nth-of-type(5):nth-last-of-type(2) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% (162px / 4 * 3 + 1px);
      transform: scale(1, 8.3);
    }
    //offset focus line for 5th graph
    &:nth-of-type(6):nth-last-of-type(1) .aurora-droplet-graph .c3-xgrid-focus line {
      transform-origin: 50% 158px;
      transform: scale(1, 8.3);
    }
  }

  // Hides bottom of focus line for old c3 graph component
  .clipper {
    display: block;
    height: 20px;
    width: 100%;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // This is to fix the 'just now' on the new 'Last Updated:' part
  time {
    text-transform: lowercase;
  }
}

// Prompt to install agent and update droplet for additional metrics
.Install-agent-alert {
  .new-label { // New! label
    @extend %font--semibold;

    font-size: 0.7rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    vertical-align: top;
  }

  .Alert-close { // Nudge close button down
    top: 0.25rem;
  }

  .Button--alert { // Nudge button in alert up
    position: relative;
    top: -0.17rem;
  }
}

.columns.droplet-show-chart-container {
  .Tooltip {
    min-width: 180px;
  }
}

.top-process-timestamp {
  margin-top: 13px;
}

.per-process {
  table {
    box-shadow: none;
  }
}
