.aurora-resize {
  .size-chooser-list .Tooltip {
    margin-top: -4px;
  }

  .tab {
    @extend .radio-tab;
  }

  .note {
    visibility: hidden;

    &::before {
      @extend %font--bold;

      content: 'Note: ';
    }

    &.visible {
      visibility: visible;
    }
  }

  &.flexible-resize {
    .aurora-size .disk strong {
      color: $gray6;
    }
  }

  .resize-spinner {
    position: absolute;
    left: calc(50% + 35px);
    bottom: 14px;
  }

  .btn-tooltip {
    &.tooltip-wrap {
      width: 100%;
    }

    + .Tooltip {
      margin-top: 7px;

      .tooltip-inner {
        max-width: 500px;
      }
    }
  }
}
