.aurora-volumes {
  table {
    th.name {
      width: 40%;
    }

    th.size_gigabytes {
      width: 20%;
    }

    th.created_at {
      width: 20%;
    }

    td.storage__nameColumn .Tooltip {
      width: 100%;
    }

    td.storage__actionColumn .Tooltip {
      width: 220px;
    }

    td {
      position: relative;
    }

    .loading-indicator {
      background: $white;
      position: absolute;
      z-index: 1;
      padding-top: 9px;
      width: 450px;
    }

    .Tooltip {
      margin-top: -5px;
    }
  }

  .attach-button {
    width: 250px;
  }

  .labelBox--empty--blue {
    @extend %font--bold;

    background: $blue--brand;
    color: $white;
    border-radius: 2px;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 2px 9px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }

  .beta-icon {
    @extend .labelBox--empty--blue;
  }

  .beta-new-icon {
    @extend .labelBox--empty--blue;

    background: $gray3;
    color: $gray7;
  }

  .volume-desc {
    padding: 0 4px;

    h2 {
      @extend %font--bold;

      margin: 28px 0 18px;
      color: $gray5;
      font-size: 14px;
      text-transform: uppercase;
    }

    .columns {
      a {
        display: block;
      }

      p {
        padding: 5px 55px 0 0;
      }
    }
  }

  .menu-dropdownView .snapshot-header {
    font-size: 0.88rem;
  }

  .resize-modal {
    .resize-submit {
      position: absolute;
      width: 258px;
      margin: 32px 275px;
    }

    .select-volume {
      @extend %font--semibold;

      color: $gray6;
      margin: 0 1px 15px;
    }

    .aurora-auto-complete {
      margin: 0;
    }

    .price-meta {
      top: 57px;
      right: 73px;
    }

    &.Modal-content.confirm-small .Modal-footer {
      padding-top: 0;
      margin-top: -8px;
    }

    form {
      margin-bottom: 1em;
    }
  }

  .price-meta {
    position: absolute;
    top: 19px;
    right: 50px;
    color: $gray6;

    .per-hour {
      color: $gray4;
      margin-left: 10px;
    }

    &.empty {
      &::before,
      .per-hour::after {
        content: '$';
        width: 35px;
        height: 17px;
        display: inline-block;
        border-bottom: 1px solid currentColor;
        text-indent: -9px;
        position: relative;
        left: 2px;
      }

      &::after {
        color: $gray4;
        content: '/hr';
      }

      .per-hour {
        margin-left: 0;
        margin-right: -2px;

        &::before {
          color: $gray6;
          content: '/mo';
        }

        &::after {
          margin-left: 24px;
          width: 38px;
          text-indent: -10px;
          left: 0;
        }
      }
    }
  }

  .save-spinner {
    position: absolute;
    margin: 12px 10px;
  }
}

.volume-header-wrap {
  h2 {
    display: inline-block;
    width: auto;
  }

  .volume-header-subtext {
    margin-left: 5px;
    vertical-align: text-bottom;
    color: $gray8;
  }
}
