.security-group-rules {
  th,
  td {
    padding: 15px;
  }

  .rule-actions {
    width: 0;
  }

  .rule-remove {
    margin-left: -3em;
  }

  .rule-editing {
    background-color: $blue--light-1;

    select,
    input {
      margin: 0;
    }
  }
}
