.forwarding-rule {
  .rule-arrow {
    text-align: center;
  }

  .Icon--arrowLongRight {
    display: inline-block;
    transform: scale(1.2);
    opacity: 0.3;
  }

  .FloatLabel-input,
  .FloatLabelSelect-select {
    margin-bottom: 0;
  }

  .rule-delete {
    text-align: right;
  }

  .rule-delete-link {
    color: $red;
  }
}
