.forwarding-rules-editor {
  width: 80%;

  .rule-entry-protocol,
  .rule-target-protocol,
  .rule-target-port {
    width: 20%;
    padding-right: 1.9%;
  }

  .rule-entry-port {
    width: 18.1%;
  }

  .rule-delete {
    width: 10%;
  }

  .rule-arrow {
    width: 10%;
  }

  .forwarding-rules-error {
    @extend %font--bold;

    color: $red--brand;
  }
}

.forwarding-rules-editor-certificates {
  width: 100%;

  .rule-entry-protocol,
  .rule-entry-port,
  .rule-target-protocol,
  .rule-target-port {
    width: 16%;
    padding-right: 1.5%;
  }

  .rule-certificate {
    width: 16.5%;
  }
}

.forwarding-rules-list {
  .forwarding-rules-item-icon {
    opacity: 0.5;
    font-size: 0.75rem;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }
}

.lb-settings-forwarding-rules {
  .forwarding-rules-table {
    width: auto;
  }

  .forwarding-rules-editor {
    width: 100%;

    .rule-entry-protocol,
    .rule-target-protocol,
    .rule-target-port {
      width: 21%;
      padding-right: 1.9%;
    }

    .rule-entry-port {
      width: 19.1%;
    }

    .rule-delete {
      width: 9%;
    }

    .rule-arrow {
      width: 7%;
    }
  }

  .forwarding-rules-editor-certificates {
    width: 100%;

    .rule-entry-protocol,
    .rule-target-protocol {
      width: 18.2%;
      padding-right: 1.5%;
    }

    .rule-entry-port,
    .rule-target-port {
      width: 15.3%;
      padding-right: 1.5%;
    }

    .rule-certificate {
      width: 17%;
    }
  }
}
