.sticky-sessions-options {
  display: flex;

  .sticky-sessions-option-none {
    width: 8rem;
  }

  .sticky-sessions-field {
    display: inline-block;
    width: 10rem;
    vertical-align: top;
    margin-right: 0.75rem;
  }

  .sticky-sessions-cookie-name {
    width: 15rem;
  }
}

.lb-settings {
  .sticky-sessions-view {
    display: flex;
    margin-bottom: 1rem;

    .sticky-sessions-item {
      min-width: 8rem;
      padding-right: 2rem;
    }
  }
}
